Repository writethedocs/www: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamale-config, yamale-schedule, yamale-sessions

yamale-config:
  name: Validate conference config YAML against schema
  entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-config.yaml "$f" || exit 1; done' --
  language: system

yamale-schedule:
  name: Validate schedule YAML against schema
  entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-schedule.yaml "$f" || exit 1; done' --
  language: system

yamale-sessions:
  name: Validate sessions YAML against schema
  entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-sessions.yaml "$f" || exit 1; done' --
  language: system

writing day form
  docs/_data/berlin-2026-config.yaml
Due: yamale-config

Update header
  docs/conf/berlin/2026/news/two-months-out.md
Due: none

Add 2 months out post
  docs/_data/berlin-2026-config.yaml
  docs/conf/berlin/2026/news/two-months-out.md
  docs/conf/berlin/2026/sponsors/information.md
  docs/conf/berlin/2026/writing-day.md
Due: yamale-config

flaghasteam to false as its not updated yet
  docs/_data/berlin-2026-config.yaml
Due: yamale-config

tweak post
  docs/conf/berlin/2026/venue.md
Due: none

review comments Katie
  docs/_data/berlin-2026-config.yaml
  docs/conf/berlin/2026/attendee-guide.md
  docs/conf/berlin/2026/news/announcing-tickets.md
  docs/conf/berlin/2026/news/two-months-out.md
  docs/conf/berlin/2026/social-events.md
  docs/conf/berlin/2026/sponsors/information.md
  docs/conf/berlin/2026/sponsors/prospectus.md
  docs/conf/berlin/2026/tickets.md
  docs/conf/berlin/2026/venue.md
  docs/conf/berlin/2026/writing-day.md
Due: yamale-config

tweak post
  docs/conf/berlin/2026/news/two-months-out.md
Due: none

fix WD times
  docs/conf/berlin/2026/writing-day.md
Due: none

tweak post
  docs/_data/berlin-2026-config.yaml
  docs/conf/berlin/2026/news/two-months-out.md
Due: yamale-config

post date
  docs/conf/berlin/2026/news/two-months-out.md
Due: none

Add provisional schedule
  docs/_data/berlin-2026-config.yaml
  docs/_data/berlin-2026-schedule.yaml
  docs/conf/berlin/2026/news/announcing-schedule.md
  docs/conf/berlin/2026/schedule.md
Due: yamale-config, yamale-schedule

Add media kit
  docs/conf/berlin/2026/speaker-info.md
Due: none

Remove broken virtual schedule
  docs/conf/berlin/2026/schedule-virtual.md
Due: none

Fix virtual schedule instead of removing
  docs/conf/berlin/2026/schedule-virtual.md
Due: none

Add schedule preview URL
  docs/_data/berlin-2026-config.yaml
Due: yamale-config

Add roundtable discussions
  docs/conf/berlin/2026/writing-day.md
Due: none

Bump day 2 by 30 mins
  docs/_data/berlin-2026-schedule.yaml
Due: yamale-schedule

Minor speaker comms updates
  docs/conf/berlin/2026/cfp-email-templates.rst
Due: none

Restore Sunday WW
  docs/_data/berlin-2026-schedule.yaml
Due: yamale-schedule

Typo fix
  docs/_data/berlin-2026-schedule.yaml
Due: yamale-schedule

Fix WD timing
  docs/_data/berlin-2026-schedule.yaml
Due: yamale-schedule

Various tweaks to blog post
  docs/conf/berlin/2026/news/announcing-schedule.md
Due: none

Minor schedule cleanups
  docs/_data/berlin-2026-schedule.yaml
Due: yamale-schedule

Line up schedule
  docs/_data/berlin-2026-schedule.yaml
Due: yamale-schedule

Apply suggestions from Katie
  docs/_data/berlin-2026-schedule.yaml
Due: yamale-schedule

Update welcome wagon in schedule
  docs/_data/berlin-2026-schedule.yaml
  docs/conf/berlin/2026/attendee-guide.md
Due: yamale-schedule

Fix stale and incorrect copy on main nav pages
  docs/about-us.rst
  docs/about/about-the-org.rst
  docs/about/events-activities.rst
  docs/about/learning-resources.rst
  docs/about/stay-connected.rst
  docs/book-club/index.rst
  docs/books.rst
  docs/contact.rst
  docs/guide/index.rst
  docs/index.rst
  docs/job-board.rst
  docs/meetups/index.rst
  docs/organizer-guide/index.rst
  docs/origin-story.rst
  docs/podcast.rst
  docs/slack.rst
  docs/sponsorship/index.rst
  docs/team.rst
  docs/topics.rst
Due: none

Migrate stats to variables, remove dead links, move socials to LinkedIn
  docs/_templates/footer.html
  docs/about-us.rst
  docs/about/stay-connected.rst
  docs/book-club/index.rst
  docs/books.rst
  docs/code-of-conduct.rst
  docs/conf.py
  docs/guide/about/community.rst
  docs/guide/index.rst
  docs/origin-story.rst
  docs/slack.rst
  docs/sponsorship/index.rst
  docs/team.rst
Due: none

schedule updates
  docs/_data/berlin-2026-schedule.yaml
  docs/_static/conf/images/headers/2026/schedule.jpg
  docs/conf/berlin/2026/attendee-guide.md
  docs/conf/berlin/2026/news/announcing-schedule.md
Due: yamale-schedule

Add budget-friendly accommodation section to visiting.md
  docs/conf/berlin/2026/visiting.md
Due: none

survey results: changes to Font Awesome
  docs/_static/survey/css/main-2024.css
  docs/_static/survey/img/2025-results-opengraph.png
  docs/_templates/survey/layout.html
  docs/surveys/salary-survey/2023.rst
  docs/surveys/salary-survey/2024.rst
  docs/surveys/salary-survey/2025.rst
Due: none

survey results: changes to Font Awesome (#2729)
  docs/_static/survey/css/main-2024.css
  docs/_static/survey/img/2025-results-opengraph.png
  docs/_templates/survey/layout.html
  docs/surveys/salary-survey/2023.rst
  docs/surveys/salary-survey/2024.rst
  docs/surveys/salary-survey/2025.rst
Due: none

Add Nytril as website footer sponsor
  docs/_static/img/sponsors/nytril.svg
  docs/conf.py
Due: none

Cap footer sponsor logo height, serve RTD logo locally
  docs/_static/img/sponsors/readthedocs-wordmark-dark.png
  docs/_templates/footer.html
Due: none

Move RTD into global_sponsors, restyle footer sponsorship link as CTA
  docs/_templates/footer.html
  docs/conf.py
Due: none

Point RTD sponsor link at about.readthedocs.com
  docs/conf.py
Due: none

Move global sponsors into a YAML data file
  docs/_data/global-sponsors.yaml
  docs/conf.py
Due: none

Use load_yaml helper for global sponsors
  docs/conf.py
Due: none

Path conditions:
  yamale-config: any of: ^docs/_data/.*-config\.(yml|yaml)$, but not: ^docs/_data/schema-config\.yaml$
  yamale-schedule: any of: ^docs/_data/.*-schedule\.(yml|yaml)$, but not: ^docs/_data/schema-schedule\.yaml$
  yamale-sessions: any of: ^docs/_data/.*-sessions\.(yml|yaml)$, but not: ^docs/_data/schema-sessions\.yaml$
