Repository writethedocs/www: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamale-config, yamale-schedule, yamale-sessions

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        files: ^docs/_data/.*\.(yml|yaml)$
        exclude: ^docs/_data/schema-.*\.yaml$
      - id: end-of-file-fixer
        files: ^docs/_data/.*\.(yml|yaml)$
      - id: trailing-whitespace
        files: ^docs/_data/.*\.(yml|yaml)$

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.26.3
    hooks:
      - id: yamllint
        files: ^docs/_data/.*\.(yml|yaml)$
        exclude: ^docs/_data/schema-.*\.yaml$

  - repo: local
    hooks:
      - id: yamale-config
        name: Validate conference config YAML against schema
        entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-config.yaml "$f" || exit 1; done' --
        language: system
        files: ^docs/_data/.*-config\.(yml|yaml)$
        exclude: ^docs/_data/schema-config\.yaml$
      - id: yamale-schedule
        name: Validate schedule YAML against schema
        entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-schedule.yaml "$f" || exit 1; done' --
        language: system
        files: ^docs/_data/.*-schedule\.(yml|yaml)$
        exclude: ^docs/_data/schema-schedule\.yaml$
      - id: yamale-sessions
        name: Validate sessions YAML against schema
        entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-sessions.yaml "$f" || exit 1; done' --
        language: system
        files: ^docs/_data/.*-sessions\.(yml|yaml)$
        exclude: ^docs/_data/schema-sessions\.yaml$

Update pic
  docs/_static/img/speakers/adam-michael-wood.webp
Due: none

Update writing-day.md
  docs/conf/portland/2026/writing-day.md
Due: none

Add Portland 2026 conference schedule from stage ROS
  docs/_data/portland-2026-config.yaml
  docs/_data/portland-2026-schedule.yaml
Due: yamale-config, yamale-schedule

Add Writing Day Git workshop slots to Portland 2026 schedule
  docs/_data/portland-2026-schedule.yaml
Due: yamale-schedule

Encourage edits in attendee guide
  docs/conf/portland/2026/attendee-guide.md
Due: none

Fix Markdown schedule rendering for Portland 2026
  docs/_templates/include/schedule2026.md
  docs/conf/portland/2026/schedule-virtual.md
  docs/conf/portland/2026/schedule.md
Due: none

Use 2-space HTML indentation in schedule include
  docs/_templates/include/schedule2026.md
Due: none

Italicize meta schedule notes in Portland 2026 agenda
  docs/_data/portland-2026-schedule.yaml
Due: yamale-schedule

Match 2025 duration pattern for Portland 2026 schedule
  docs/_data/portland-2026-schedule.yaml
Due: yamale-schedule

Update attendee-guide.md
  docs/conf/portland/2026/attendee-guide.md
Due: none

Use duration sequencing across all Portland 2026 schedule days
  docs/_data/portland-2026-schedule.yaml
Due: yamale-schedule

Link Git and GitHub workshop entries to Writing Day page
  docs/_data/portland-2026-schedule.yaml
Due: yamale-schedule

Point Git workshop schedule links to writing-day anchor
  docs/_data/portland-2026-schedule.yaml
Due: yamale-schedule

docs: add guidance on avoiding animal-violence idioms in style guides
  docs/guide/writing/style-guides.md
Due: none

Update hike.md
  docs/conf/portland/2026/hike.md
Due: none

Add attendee guide to top nav for PDX 2026
  docs/_data/portland-2026-config.yaml
Due: yamale-config

Add two months out announcement
  docs/conf/portland/2026/news/two-months-out.md
Due: none

Update lightning-talks.md
  docs/conf/portland/2026/lightning-talks.md
Due: none

Update refund policy for in-person->virtual
  docs/conf/portland/2026/tickets.md
Due: none

Remove empty dependabot.yml left by 35c688b1
  .github/dependabot.yml
Due: none

Edits edits edits
  docs/conf/portland/2026/news/two-months-out.md
Due: none

More edits
  docs/conf/portland/2026/news/two-months-out.md
Due: none

Make LinkedIn link external-friendly
  docs/conf/portland/2026/attendee-guide.md
Due: none

Update date
  docs/conf/portland/2026/news/two-months-out.md
Due: none

I don't think these trailing slashes matter, Copilot, but okay
  docs/conf/portland/2026/news/two-months-out.md
Due: none

Two months out announcement (#2558)
  docs/_data/portland-2026-config.yaml
  docs/conf/portland/2026/attendee-guide.md
  docs/conf/portland/2026/news/two-months-out.md
Due: yamale-config

Apply suggestions from code review
  docs/blog/2026-Q1-community-board.rst
Due: none

Apply suggestion from @thatdocslady
  docs/blog/2026-Q1-community-board.rst
Due: none

Q1-2026 community board blog (#2547)
  docs/blog/2026-Q1-community-board.rst
Due: none

initial report setup for 2025
  docs/surveys/salary-survey/2025.rst
Due: none

Add March 2026 newsletter
  docs/blog/newsletter-march-2026.rst
  docs/team.rst
  docs/topics.rst
Due: none

Fix typo
  docs/blog/newsletter-march-2026.rst
Due: none

Fix name and website
  docs/blog/newsletter-march-2026.rst
  docs/team.rst
Due: none

Apply suggestions from review
  docs/blog/newsletter-march-2026.rst
Due: none

Fix links
  docs/blog/newsletter-march-2026.rst
  docs/topics.rst
Due: none

Update publish date
  docs/blog/newsletter-march-2026.rst
Due: none

Add March 2026 newsletter (#2567)
  docs/blog/newsletter-march-2026.rst
  docs/team.rst
  docs/topics.rst
Due: none

Use variables instead of hardcoded in more places in Portland
  docs/conf/portland/2026/attendee-guide.md
  docs/conf/portland/2026/convince-your-manager.md
  docs/conf/portland/2026/lightning-talks.md
  docs/conf/portland/2026/news/cfp-reminder.md
  docs/conf/portland/2026/opportunity-grants.md
  docs/conf/portland/2026/speaker-info.md
  docs/conf/portland/2026/sponsors/information.md
  docs/conf/portland/2026/team.md
  docs/conf/portland/2026/virtual.md
Due: none
