Repository writethedocs/www: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamale-config, yamale-schedule, yamale-sessions

yamale-config:
  name: Validate conference config YAML against schema
  entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-config.yaml "$f" || exit 1; done' --
  language: system

yamale-schedule:
  name: Validate schedule YAML against schema
  entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-schedule.yaml "$f" || exit 1; done' --
  language: system

yamale-sessions:
  name: Validate sessions YAML against schema
  entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-sessions.yaml "$f" || exit 1; done' --
  language: system

Apply suggestions from Katie
  docs/_data/berlin-2026-schedule.yaml
Due: yamale-schedule

Add budget-friendly accommodation section to visiting.md (#2728)
  docs/conf/berlin/2026/visiting.md
Due: none

Update date
  docs/conf/berlin/2026/news/announcing-schedule.md
Due: none

schedule updates
  docs/_data/berlin-2026-schedule.yaml
  docs/_static/conf/images/headers/2026/schedule.jpg
  docs/conf/berlin/2026/attendee-guide.md
  docs/conf/berlin/2026/news/announcing-schedule.md
Due: yamale-schedule

Bump day 2 by 30 mins
  docs/_data/berlin-2026-schedule.yaml
Due: yamale-schedule

Add roundtable discussions
  docs/conf/berlin/2026/writing-day.md
Due: none

Restore Sunday WW
  docs/_data/berlin-2026-schedule.yaml
Due: yamale-schedule

Add media kit
  docs/conf/berlin/2026/speaker-info.md
Due: none

Add provisional schedule
  docs/_data/berlin-2026-config.yaml
  docs/_data/berlin-2026-schedule.yaml
  docs/conf/berlin/2026/news/announcing-schedule.md
  docs/conf/berlin/2026/schedule.md
Due: yamale-config, yamale-schedule

Fix virtual schedule instead of removing
  docs/conf/berlin/2026/schedule-virtual.md
Due: none

Add schedule preview URL
  docs/_data/berlin-2026-config.yaml
Due: yamale-config

Typo fix
  docs/_data/berlin-2026-schedule.yaml
Due: yamale-schedule

Remove broken virtual schedule
  docs/conf/berlin/2026/schedule-virtual.md
Due: none

Update welcome wagon in schedule
  docs/_data/berlin-2026-schedule.yaml
  docs/conf/berlin/2026/attendee-guide.md
Due: yamale-schedule

update photo
  docs/conf/berlin/2026/news/announcing-schedule.md
Due: none

Various tweaks to blog post
  docs/conf/berlin/2026/news/announcing-schedule.md
Due: none

Line up schedule
  docs/_data/berlin-2026-schedule.yaml
Due: yamale-schedule

Fix WD timing
  docs/_data/berlin-2026-schedule.yaml
Due: yamale-schedule

Add Berlin 2026 schedule (#2726)
  docs/_data/berlin-2026-config.yaml
  docs/_data/berlin-2026-schedule.yaml
  docs/_static/conf/images/headers/2026/schedule.jpg
  docs/conf/berlin/2026/attendee-guide.md
  docs/conf/berlin/2026/cfp-email-templates.rst
  docs/conf/berlin/2026/news/announcing-schedule.md
  docs/conf/berlin/2026/schedule-virtual.md
  docs/conf/berlin/2026/schedule.md
  docs/conf/berlin/2026/speaker-info.md
  docs/conf/berlin/2026/visiting.md
  docs/conf/berlin/2026/writing-day.md
Due: yamale-config, yamale-schedule

Format sponsor booth location/availability as bullets
  docs/conf/australia/2026/sponsors/information.md
  docs/conf/berlin/2026/sponsors/information.md
  docs/conf/portland/2026/sponsors/information.md
Due: none

sponsors: add Nytril to website footer (#2730)
  docs/_data/global-sponsors.yaml
  docs/_static/img/sponsors/nytril.svg
  docs/_static/img/sponsors/readthedocs-wordmark-dark.png
  docs/_templates/footer.html
  docs/conf.py
Due: none

Format sponsor booth location/availability as bullets (#2732)
  docs/conf/australia/2026/sponsors/information.md
  docs/conf/berlin/2026/sponsors/information.md
  docs/conf/portland/2026/sponsors/information.md
Due: none

Update docs/guide/about/community.rst
  docs/guide/about/community.rst
Due: none

docs: Refresh main nav copy: stale facts, dead links, LinkedIn-first socials (#2727)
  docs/_templates/footer.html
  docs/about-us.rst
  docs/about/about-the-org.rst
  docs/about/events-activities.rst
  docs/about/learning-resources.rst
  docs/about/stay-connected.rst
  docs/book-club/index.rst
  docs/books.rst
  docs/code-of-conduct.rst
  docs/conf.py
  docs/contact.rst
  docs/guide/about/community.rst
  docs/guide/index.rst
  docs/index.rst
  docs/job-board.rst
  docs/meetups/index.rst
  docs/organizer-guide/index.rst
  docs/origin-story.rst
  docs/podcast.rst
  docs/slack.rst
  docs/sponsorship/index.rst
  docs/team.rst
  docs/topics.rst
Due: none

add social venue, add team
  docs/_data/berlin-2026-config.yaml
  docs/_static/conf/images/headers/berlin-2026-team.jpg
  docs/_static/img/2024/team/carolyn.jpg
  docs/_static/img/2026/team/dimple.jpg
  docs/conf/berlin/2026/news/four-weeks-out.md
  docs/conf/berlin/2026/team.md
Due: yamale-config

fix
  docs/_static/conf/images/headers/berlin-2026-team.jpg
Due: none

Address review comments
  docs/conf/berlin/2026/news/four-weeks-out.md
  docs/conf/berlin/2026/writing-day.md
Due: none

comments from Katie
  docs/conf/berlin/2026/news/four-weeks-out.md
Due: none

fix
  docs/_static/img/2026/team/dimple.jpg
Due: none

update outdated writing day note
  docs/conf/berlin/2026/writing-day.md
Due: none

Update post date to August 11, 2026
  docs/conf/berlin/2026/news/four-weeks-out.md
Due: none

Add Berlin 4 weeks out post
  docs/conf/berlin/2026/news/four-weeks-out.md
Due: none

Add Berlin 4 weeks out post and team page (#2731)
  docs/_data/berlin-2026-config.yaml
  docs/_static/conf/images/headers/berlin-2026-team.jpg
  docs/_static/img/2024/team/carolyn.jpg
  docs/_static/img/2026/team/dimple.jpg
  docs/conf/berlin/2026/news/four-weeks-out.md
  docs/conf/berlin/2026/team.md
  docs/conf/berlin/2026/writing-day.md
Due: yamale-config

Misc
  docs/conf.py
  docs/conf/berlin/2026/cfp-email-templates.rst
Due: none

Misc comms (#2733)
  docs/conf.py
  docs/conf/berlin/2026/cfp-email-templates.rst
Due: none

Prepping the next email
  docs/_data/berlin-2026-config.yaml
  docs/conf/berlin/2026/cfp-email-templates.rst
  docs/conf/berlin/2026/speaker-info.md
Due: yamale-config

Prepping the next email (#2734)
  docs/_data/berlin-2026-config.yaml
  docs/conf/berlin/2026/cfp-email-templates.rst
  docs/conf/berlin/2026/speaker-info.md
Due: yamale-config

Fix conference opengraph images
  docs/_static/conf/images/headers/australia-2026-opengraph.jpg
  docs/_static/conf/images/headers/berlin-2025-opengraph.jpg
  docs/_static/conf/images/headers/berlin-2026-opengraph.jpg
  docs/conf.py
  docs/conf/australia/2026/index.md
  docs/conf/berlin/2026/index.md
Due: none

Use official logo glyphs in 2026 opengraph wordmarks
  docs/_static/conf/images/headers/australia-2026-opengraph.jpg
  docs/_static/conf/images/headers/berlin-2026-opengraph.jpg
Due: none

Match official logo lockup spacing for city and year
  docs/_static/conf/images/headers/australia-2026-opengraph.jpg
  docs/_static/conf/images/headers/berlin-2026-opengraph.jpg
Due: none

Path conditions:
  yamale-config: any of: ^docs/_data/.*-config\.(yml|yaml)$, but not: ^docs/_data/schema-config\.yaml$
  yamale-schedule: any of: ^docs/_data/.*-schedule\.(yml|yaml)$, but not: ^docs/_data/schema-schedule\.yaml$
  yamale-sessions: any of: ^docs/_data/.*-sessions\.(yml|yaml)$, but not: ^docs/_data/schema-sessions\.yaml$
