Repository writethedocs/www: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamale-config, yamale-schedule, yamale-sessions

yamale-config:
  name: Validate conference config YAML against schema
  entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-config.yaml "$f" || exit 1; done' --
  language: system

yamale-schedule:
  name: Validate schedule YAML against schema
  entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-schedule.yaml "$f" || exit 1; done' --
  language: system

yamale-sessions:
  name: Validate sessions YAML against schema
  entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-sessions.yaml "$f" || exit 1; done' --
  language: system

docs: add interactive docs-as-code tools matrix
  docs/_data/tools.csv
  docs/_static/css/datatables/buttons.dataTables.min.css
  docs/_static/css/datatables/dataTables.dataTables.min.css
  docs/_static/js/datatables/buttons.colVis.min.js
  docs/_static/js/datatables/dataTables.buttons.min.js
  docs/_static/js/datatables/dataTables.min.js
  docs/_static/js/datatables/jquery.min.js
  docs/guide/tools/docs-as-code-tools-matrix.rst
  docs/guide/tools/index.rst
Due: none

docs: fix tool count to 27
  docs/guide/tools/docs-as-code-tools-matrix.rst
  docs/guide/tools/index.rst
Due: none

conf: set Portland 2026 to post-conf state
  docs/_data/portland-2026-config.yaml
Due: yamale-config

Fix release title, update constants for Portland
  docs/_scripts/tito2venueless.py
Due: none

Minor fixes/updates to tito2venueless
  docs/_scripts/tito2venueless.py
Due: none

news: add Portland 2026 thanks-recap post
  docs/conf/portland/2026/news/thanks-recap.md
Due: none

conf: revert button changes, keep only flag flip
  docs/_data/portland-2026-config.yaml
Due: yamale-config

conf: switch Portland 2026 buttons to recap and photos
  docs/_data/portland-2026-config.yaml
Due: yamale-config

Add CFP reminder for Berlin 2026
  docs/conf/berlin/2026/news/cfp-reminder.md
Due: none

conf: comment post-conf-only buttons, add photos link
  docs/_data/portland-2026-config.yaml
Due: yamale-config

portland: add in-person/virtual availability indicators for 2026
  docs/_data/portland-2026-schedule.yaml
  docs/_data/schema-schedule.yaml
  docs/_static/conf/css/main-2026.min.css
  docs/_static/conf/scss/main-2026.scss
  docs/_templates/include/availability-2026.md
  docs/_templates/include/schedule2026.md
  docs/conf/portland/2026/hike.md
  docs/conf/portland/2026/lightning-talks.md
  docs/conf/portland/2026/schedule-virtual.md
  docs/conf/portland/2026/schedule.md
  docs/conf/portland/2026/social-events.md
  docs/conf/portland/2026/unconference.md
  docs/conf/portland/2026/virtual.md
  docs/conf/portland/2026/writing-day.md
Due: yamale-schedule

conf: set Portland 2026 to post-conf state (#2685)
  docs/_data/portland-2026-config.yaml
Due: yamale-config

tools: expand docs-as-code tools matrix with 15 new columns and glossary
  docs/_data/tools.csv
  docs/guide/tools/docs-as-code-tools-matrix-contributing.md
  docs/guide/tools/docs-as-code-tools-matrix.rst
  docs/guide/tools/index.rst
Due: none

docs: add markdown jinja renderer script (#2676)
  docs/_scripts/render-jinja-markdown.py
Due: none

Add May 2026 newsletter
  docs/blog/newsletter-may-2026.rst
  docs/topics.rst
Due: none

Apply suggestion from @CollierCZ
  docs/blog/newsletter-may-2026.rst
Due: none

Add more community events
  docs/blog/newsletter-may-2026.rst
Due: none

newsletter: copy edits and trailing whitespace cleanup
  docs/_scripts/get_upcoming_meetups.py
  docs/blog/newsletter-may-2026.rst
Due: none

Clarity improvement
  docs/blog/newsletter-may-2026.rst
Due: none

Adjust for non-meetup events
  docs/_scripts/get_upcoming_meetups.py
Due: none

Add hourly Slack-invite notifier from Google Form responses
  .github/scripts/process_slack_invites.py
  .github/slack-invites/state.json
  .github/workflows/slack-invite-notifications.yml
Due: none

Replace CI poller with Apps Script onFormSubmit notifier
  .github/scripts/process_slack_invites.py
  .github/slack-invites/state.json
  .github/workflows/slack-invite-notifications.yml
  tools/slack-invite-notify.gs
Due: none

Batch Slack invite notifications into a scheduled digest
  tools/slack-invite-notify.gs
Due: none

Update current confs
  docs/include/conf/current.rst
Due: none

Fix date and small issues in Berlin 2026 CFP reminder
  docs/conf/berlin/2026/news/cfp-reminder.md
Due: none

berlin: add in-person/virtual availability indicators for 2025
  docs/_data/berlin-2025-schedule.yaml
  docs/_data/schema-schedule.yaml
  docs/_static/conf/css/main-2025.min.css
  docs/_static/conf/scss/main-2025.scss
  docs/_templates/include/availability-2025.md
  docs/_templates/include/schedule2021.rst
  docs/conf/berlin/2025/lightning-talks.md
  docs/conf/berlin/2025/schedule-virtual.rst
  docs/conf/berlin/2025/schedule.rst
  docs/conf/berlin/2025/social-events.md
  docs/conf/berlin/2025/unconference.md
  docs/conf/berlin/2025/virtual.md
Due: yamale-schedule

Adds bluesky to Stay Connected page
  docs/about/stay-connected.rst
Due: none

Adds bluesky to Stay Connected page (#2691)
  docs/about/stay-connected.rst
Due: none

videos: sync Portland 2026 YouTube metadata + playlist
  docs/_data/portland-2026-lightning-talks.yaml
  docs/_data/portland-2026-sessions.yaml
  docs/_scripts/create-rtd-video-redirects.py
  docs/_scripts/sync-youtube-metadata.py
Due: yamale-sessions

Add Markdown guide with formatting instructions
  docs/guide/writing/markdown.md
Due: none

Apply suggestions from code review
  docs/conf/portland/2026/news/thanks-recap.md
Due: none

Add Markdown guide with formatting instructions (#2693)
  docs/guide/writing/markdown.md
Due: none

Path conditions:
  yamale-config: any of: ^docs/_data/.*-config\.(yml|yaml)$, but not: ^docs/_data/schema-config\.yaml$
  yamale-schedule: any of: ^docs/_data/.*-schedule\.(yml|yaml)$, but not: ^docs/_data/schema-schedule\.yaml$
  yamale-sessions: any of: ^docs/_data/.*-sessions\.(yml|yaml)$, but not: ^docs/_data/schema-sessions\.yaml$
