Repository writethedocs/www: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamale-config, yamale-schedule, yamale-sessions

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        files: ^docs/_data/.*\.(yml|yaml)$
        exclude: ^docs/_data/schema-.*\.yaml$
      - id: end-of-file-fixer
        files: ^docs/_data/.*\.(yml|yaml)$
      - id: trailing-whitespace
        files: ^docs/_data/.*\.(yml|yaml)$

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.26.3
    hooks:
      - id: yamllint
        files: ^docs/_data/.*\.(yml|yaml)$
        exclude: ^docs/_data/schema-.*\.yaml$

  - repo: local
    hooks:
      - id: yamale-config
        name: Validate conference config YAML against schema
        entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-config.yaml "$f" || exit 1; done' --
        language: system
        files: ^docs/_data/.*-config\.(yml|yaml)$
        exclude: ^docs/_data/schema-config\.yaml$
      - id: yamale-schedule
        name: Validate schedule YAML against schema
        entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-schedule.yaml "$f" || exit 1; done' --
        language: system
        files: ^docs/_data/.*-schedule\.(yml|yaml)$
        exclude: ^docs/_data/schema-schedule\.yaml$
      - id: yamale-sessions
        name: Validate sessions YAML against schema
        entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-sessions.yaml "$f" || exit 1; done' --
        language: system
        files: ^docs/_data/.*-sessions\.(yml|yaml)$
        exclude: ^docs/_data/schema-sessions\.yaml$

Address schedule review feedback from plaindocs
  docs/_data/portland-2026-schedule.yaml
Due: yamale-schedule

Adjust writing day schedule: 30 min morning intro, relative durations
  docs/_data/portland-2026-schedule.yaml
Due: yamale-schedule

Add announcing conf schedule post
  docs/conf/portland/2026/news/announcing-schedule.rst
Due: none

Button button fixy fixy
  docs/conf/portland/2026/news/announcing-schedule.rst
Due: none

Look, I'm here for vibes, not for recognizing syntax properly
  docs/conf/portland/2026/news/announcing-schedule.md
  docs/conf/portland/2026/news/announcing-schedule.rst
Due: none

Trying to fix bullet alignment
  docs/_static/conf/scss/main-2026.scss
Due: none

Remove carcass of old image syntax
  docs/conf/portland/2026/news/announcing-schedule.md
Due: none

Also update min file?
  docs/_static/conf/css/main-2026.min.css
Due: none

Update hike.md
  docs/conf/portland/2026/hike.md
Due: none

Apply 2026 schedule page edits: new outing, roundtables, emojis, strip intro copy
  docs/_data/portland-2026-schedule.yaml
  docs/conf/portland/2026/schedule.md
Due: yamale-schedule

Use explicit times for Saturday outing, add 2nd Git workshop Sunday afternoon
  docs/_data/portland-2026-schedule.yaml
Due: yamale-schedule

Add links to Lightning Talks, Welcome Wagon entries; fix LT label and capitalization
  docs/_data/portland-2026-schedule.yaml
Due: yamale-schedule

Apply suggestion from @plaindocs
  docs/conf/portland/2026/hike.md
Due: none

Embetter link text
  docs/conf/portland/2026/news/announcing-schedule.md
Due: none

Add urban walk
  docs/conf/portland/2026/news/announcing-schedule.md
Due: none

Update docs/conf/portland/2026/hike.md
  docs/conf/portland/2026/hike.md
Due: none

Update announcing-schedule.md
  docs/conf/portland/2026/news/announcing-schedule.md
Due: none

Small data cleanup (#2579)
  docs/_data/portland-2026-config.yaml
  docs/conf/portland/2026/sponsors/information.md
Due: yamale-config

Schedule tweaks: Urban Walk links, 35-min LTs, WW tour durations, snack break typo
  docs/_data/portland-2026-schedule.yaml
Due: yamale-schedule

Apply suggestion from @ericholscher
  docs/_data/portland-2026-config.yaml
Due: yamale-config

Update hike.md (#2557)
  docs/_data/portland-2026-config.yaml
  docs/conf/portland/2026/hike.md
Due: yamale-config

Refine schedule links: activity names only, first-per-day, specific anchors
  docs/_data/portland-2026-schedule.yaml
Due: yamale-schedule

Fix schedule timing: writing day explicit times, WW tour 0-duration, attendee guide + speaker info corrections
  docs/_data/portland-2026-schedule.yaml
  docs/conf/portland/2026/attendee-guide.md
  docs/conf/portland/2026/speaker-info.md
Due: yamale-schedule

Add meetup information for Write-the-Docs-Phoenix
  docs/_data/meetups/usa-phoenix.yaml
Due: none

Use page times as canonical: revert Monday WW to 8:15 AM, adjust Doors duration
  docs/_data/portland-2026-schedule.yaml
  docs/conf/portland/2026/attendee-guide.md
Due: yamale-schedule

Add tabbed schedule with room badges for Portland 2026
  docs/_templates/include/schedule2026.md
  docs/conf/portland/2026/schedule.md
Due: none

Color-code schedule items by room with per-day legends
  docs/_templates/include/schedule2026.md
  docs/conf/portland/2026/schedule.md
Due: none

Remove Powells walk from outing schedule
  docs/_data/portland-2026-schedule.yaml
Due: yamale-schedule

Remove Waldium as a patron sponsor
  docs/_data/portland-2026-config.yaml
Due: yamale-config

Update date
  docs/conf/portland/2026/news/announcing-schedule.md
Due: none

Add announcing conf schedule post (#2580)
  docs/conf/portland/2026/news/announcing-schedule.md
Due: none

Remove Waldium as a patron sponsor (#2585)
  docs/_data/portland-2026-config.yaml
Due: yamale-config

De-typo
  docs/conf/portland/2026/news/announcing-schedule.md
Due: none

Add nature walk ticket link
  docs/conf/portland/2026/hike.md
Due: none

Remove unused variable
  docs/conf.py
Due: none

This is part of speaker-info now
  docs/conf/berlin/2026/cfp-email-templates.rst
  docs/conf/portland/2026/cfp-email-templates.rst
Due: none

initial setup
  docs/surveys/salary-survey/2025.rst
Due: none

remove custom bullet marker; update color of regular bullet marker; restore sensible defaults for list indentation and padding
  docs/_static/conf/css/main-2026.min.css
  docs/_static/conf/scss/main-2026.scss
Due: none
