Repository writethedocs/www: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamale-config, yamale-schedule, yamale-sessions

yamale-config:
  name: Validate conference config YAML against schema
  entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-config.yaml "$f" || exit 1; done' --
  language: system

yamale-schedule:
  name: Validate schedule YAML against schema
  entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-schedule.yaml "$f" || exit 1; done' --
  language: system

yamale-sessions:
  name: Validate sessions YAML against schema
  entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-sessions.yaml "$f" || exit 1; done' --
  language: system

guide: recommend Furo and remove unmaintained Sphinx themes (#2795)
  docs/_static/img/bootstrap.png
  docs/_static/img/documatt.png
  docs/_static/img/guzzle.png
  docs/guide/tools/sphinx-community.rst
  docs/guide/tools/sphinx-themes.rst
  docs/guide/tools/sphinx.rst
Due: none

guide: remove dead links and outdated tool recommendations (#2796)
  docs/guide/about/alternatives.rst
  docs/guide/api/api-documentation-tools.rst
  docs/guide/docs-as-code.rst
  docs/guide/presentations/index.rst
  docs/guide/seo.rst
  docs/guide/tools/testing.rst
  docs/guide/writing/accessibility.md
  docs/guide/writing/beginners-guide-to-docs.rst
  docs/guide/writing/markdown.md
  docs/guide/writing/reducing-bias.md
  docs/guide/writing/style-guides.md
Due: none

guide: update tool recommendations and setup steps
  docs/guide/api/api-documentation-tools.rst
  docs/guide/tools/sphinx.rst
  docs/guide/tools/testing.rst
  docs/guide/writing/markdown.md
Due: none

guide: update tool recommendations and setup steps (#2797)
  docs/guide/api/api-documentation-tools.rst
  docs/guide/tools/sphinx.rst
  docs/guide/tools/testing.rst
  docs/guide/writing/markdown.md
Due: none

conf: add site banner for Write the Docs Australia 2026 (#2794)
  docs/conf.py
Due: none

Speaker tweaks (#2783)
  docs/conf/berlin/2026/cfp-email-templates.rst
Due: none

[australia] - publish schedule
  docs/_data/australia-2026-schedule.yaml
  docs/_data/australia-2026-sessions.yaml
  docs/conf/australia/2026/news/announcing-schedule.md
Due: yamale-schedule, yamale-sessions

toggle schedule flag
  docs/_data/australia-2026-config.yaml
Due: yamale-config

conf: fix Australia 2026 virtual schedule date keys
  docs/conf/australia/2026/schedule-virtual.md
Due: none

conf: fix Australia 2026 virtual schedule date keys (#2799)
  docs/conf/australia/2026/schedule-virtual.md
Due: none

conf: render the Australia 2026 schedule as HTML instead of literal RST
  docs/conf/australia/2026/schedule-virtual.md
  docs/conf/australia/2026/schedule.md
Due: none

conf: render the Australia 2026 schedule as HTML instead of literal RST (#2801)
  docs/conf/australia/2026/schedule-virtual.md
  docs/conf/australia/2026/schedule.md
Due: none

conf: describe conference days as a list, starting with Portland 2027
  docs/_data/portland-2027-config.yaml
  docs/_data/schema-config.yaml
  docs/_ext/core.py
  docs/_templates/2027/index-australia.html
  docs/_templates/2027/index.html
  docs/_templates/include/schedule-days-virtual.md
  docs/_templates/include/schedule-days.md
  docs/conf/portland/2027/lightning-talks.md
  docs/conf/portland/2027/schedule-virtual.md
  docs/conf/portland/2027/schedule.md
  docs/conf/portland/2027/speaker-info.md
  docs/conf/portland/2027/sponsors/information.md
  docs/conf/portland/2027/venue.md
  docs/conf/portland/2027/writing-day.md
  docs/organizer-guide/confs/website.rst
Due: yamale-config

Add Frances Liu speaker headshot
  docs/_static/img/speakers/frances-liu.jpg
Due: none

minor update
  docs/_data/australia-2026-config.yaml
Due: yamale-config

minor nits
  docs/_data/australia-2026-config.yaml
  docs/_data/australia-2026-schedule.yaml
  docs/conf/australia/2026/schedule.md
Due: yamale-config, yamale-schedule

Add Frances Liu speaker headshot (#2802)
  docs/_static/img/speakers/frances-liu.jpg
Due: none

update break slots
  docs/_data/australia-2026-schedule.yaml
Due: yamale-schedule

minor changes to schedule
  docs/_data/australia-2026-schedule.yaml
  docs/conf/australia/2026/schedule.md
Due: yamale-schedule

update schedule banner
  docs/conf/australia/2026/schedule.md
Due: none

Update Slack and newsletter subscriber counts
  docs/conf.py
Due: none

[australia] - publish schedule (#2798)
  docs/_data/australia-2026-config.yaml
  docs/_data/australia-2026-schedule.yaml
  docs/_data/australia-2026-sessions.yaml
  docs/conf/australia/2026/news/announcing-schedule.md
  docs/conf/australia/2026/schedule.md
Due: yamale-config, yamale-schedule, yamale-sessions

Add October 2026 newsletter
  docs/_static/img/sponsors/dogbench.png
  docs/blog/newsletter-october-2026.rst
  docs/topics.rst
Due: none

Fix link
  docs/blog/newsletter-october-2026.rst
Due: none

Update Slack and newsletter subscriber counts (#2803)
  docs/conf.py
Due: none

Apply suggestions from review
  docs/blog/newsletter-october-2026.rst
Due: none

Add fourth article
  docs/blog/newsletter-october-2026.rst
  docs/topics.rst
Due: none

Fix bullet point
  docs/blog/newsletter-october-2026.rst
Due: none

Add portland-2027 rss tag
  docs/_ext/atom_absolute.py
Due: none

Save the date title
  docs/conf/portland/2027/news/welcome.md
Due: none

Infer button-link year from the page path
  docs/_ext/button.py
Due: none

Infer button-link year from the page path (#2805)
  docs/_ext/button.py
Due: none

Portland 2027 save the date email
  docs/_data/portland-2027-config.yaml
  docs/_data/schema-config.yaml
  docs/conf/portland/2027/news/welcome.md
Due: yamale-config

Small copy updates
  docs/conf/portland/2027/news/welcome.md
Due: none

Add a bit more personality
  docs/conf/portland/2027/news/welcome.md
Due: none

One less !
  docs/conf/portland/2027/news/welcome.md
Due: none

A bit more coyp and URL updates
  docs/conf/portland/2027/news/welcome.md
Due: none

Portland :)
  docs/conf/portland/2027/news/welcome.md
Due: none

Improvements after review
  docs/blog/newsletter-october-2026.rst
Due: none

Path conditions:
  yamale-config: any of: ^docs/_data/.*-config\.(yml|yaml)$, but not: ^docs/_data/schema-config\.yaml$
  yamale-schedule: any of: ^docs/_data/.*-schedule\.(yml|yaml)$, but not: ^docs/_data/schema-schedule\.yaml$
  yamale-sessions: any of: ^docs/_data/.*-sessions\.(yml|yaml)$, but not: ^docs/_data/schema-sessions\.yaml$
