Repository writethedocs/www: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamale-config, yamale-schedule, yamale-sessions

yamale-config:
  name: Validate conference config YAML against schema
  entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-config.yaml "$f" || exit 1; done' --
  language: system

yamale-schedule:
  name: Validate schedule YAML against schema
  entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-schedule.yaml "$f" || exit 1; done' --
  language: system

yamale-sessions:
  name: Validate sessions YAML against schema
  entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-sessions.yaml "$f" || exit 1; done' --
  language: system

basis of employment - employee-contractors
  docs/surveys/salary-survey/2025.rst
Due: none

Fix Berlin 2026 content: remove Portland leftovers and align with config
  docs/_data/berlin-2026-config.yaml
  docs/conf/berlin/2026/attendee-guide.md
  docs/conf/berlin/2026/convince-your-manager.md
  docs/conf/berlin/2026/livestream.md
  docs/conf/berlin/2026/news/announcing-cfp.rst
  docs/conf/berlin/2026/schedule.md
  docs/conf/berlin/2026/speaker-info.md
  docs/conf/berlin/2026/sponsors/information.md
  docs/conf/berlin/2026/volunteer.md
  docs/conf/berlin/2026/writing-day.md
Due: yamale-config

Fix duplicate CFP speaker link and update Berlin 2026 banners to 2026
  docs/conf/berlin/2026/about.md
  docs/conf/berlin/2026/cfp.md
  docs/conf/berlin/2026/health.md
  docs/conf/berlin/2026/opportunity-grants.md
  docs/conf/berlin/2026/team.md
Due: none

Remove 4 orphaned Berlin 2026 pages not linked from navigation
  docs/conf/berlin/2026/livestream.md
  docs/conf/berlin/2026/mailing-list.md
  docs/conf/berlin/2026/unconference-cheatsheet.md
  docs/conf/berlin/2026/writing-day-cheatsheet.md
Due: none

Update Berlin 2026 config to 4-day schedule format with social event on Day 1
  docs/_data/berlin-2026-config.yaml
  docs/conf/berlin/2026/schedule.md
Due: yamale-config

Restore Berlin 2026 mailing-list page referenced by index template
  docs/conf/berlin/2026/mailing-list.md
Due: none

Remove day_one from Berlin config, enable Sponsor Expo, add Read the Docs sponsor
  docs/_data/berlin-2026-config.yaml
Due: yamale-config

Remove day_one from Berlin config, fix day refs, enable Sponsor Expo
  docs/_templates/2026/index.html
  docs/conf/berlin/2026/speaker-info.md
  docs/conf/berlin/2026/sponsors/information.md
  docs/conf/berlin/2026/writing-day.md
Due: none

Fix 2026 conf template flag issues: typo and missing guards
  docs/_templates/2026/index.html
  docs/_templates/2026/menu-desktop.html
  docs/_templates/2026/menu-mobile.html
Due: none

Rename flaghasjobfair to flaghassponsorexpo across all configs and templates
  .github/agents/CONFERENCE-SITES.md
  docs/_data/atlantic-2023-config.yaml
  docs/_data/atlantic-2024-config.yaml
  docs/_data/australia-2021-config.yaml
  docs/_data/australia-2022-config.yaml
  docs/_data/australia-2023-config.yaml
  docs/_data/australia-2024-config.yaml
  docs/_data/australia-2025-config.yaml
  docs/_data/berlin-2025-config.yaml
  docs/_data/berlin-2026-config.yaml
  docs/_data/kenya-2025-config.yaml
  docs/_data/portland-2021-config.yaml
  docs/_data/portland-2022-config.yaml
  docs/_data/portland-2023-config.yaml
  docs/_data/portland-2024-config.yaml
  docs/_data/portland-2025-config.yaml
  docs/_data/portland-2026-config.yaml
  docs/_data/prague-2021-config.yaml
  docs/_data/prague-2022-config.yaml
  docs/_data/schema-config.yaml
  docs/_templates/2023/menu-desktop.html
  docs/_templates/2023/menu-mobile.html
  docs/_templates/2024/index.html
  docs/_templates/2025/index.html
  docs/_templates/2026/index.html
  docs/include/conf/schedule.rst
  docs/include/conf/schedule_au.rst
Due: yamale-config

Another mailchimp attempt
  docs/conf/berlin/2026/news/announcing-cfp.rst
Due: none

hours worked tables + svg
  docs/_static/survey/css/2025-svg.css
  docs/surveys/salary-survey/2025.rst
  docs/surveys/salary-survey/images/2025/2025-hours-worked-all.svg
  docs/surveys/salary-survey/images/2025/2025-hours-worked-contractors.svg
  docs/surveys/salary-survey/images/2025/2025-hours-worked-ec-contractor.svg
  docs/surveys/salary-survey/images/2025/2025-hours-worked-ec-employee.svg
  docs/surveys/salary-survey/images/2025/2025-hours-worked-employees.svg
Due: none

fix: remove expired Yarn apt repo before Ruby feature install
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

gender identity
  docs/surveys/salary-survey/2025.rst
  docs/surveys/salary-survey/images/2025/2025-gender-identity.svg
Due: none

Add Mintlify (keystone) and GitBook (patron) as Berlin 2026 sponsors
  docs/_data/berlin-2026-config.yaml
Due: yamale-config

add 2025 to survey jump menu
  docs/_templates/survey/header.html
Due: none

make the actual link work, duh
  docs/_templates/survey/header.html
Due: none

add link to 2025 survey results
  docs/surveys/index.rst
Due: none

oops forgot to remove the "2025 survey now open" link
  docs/surveys/index.rst
Due: none

role categories section (draft)
  docs/surveys/salary-survey/2025.rst
  docs/surveys/salary-survey/images/2025/2025-additional-role-categories-draft.svg
  docs/surveys/salary-survey/images/2025/2025-primary-role-categories-draft.svg
Due: none

time in current role
  docs/surveys/salary-survey/2025.rst
  docs/surveys/salary-survey/images/2025/2025-time-in-role-contractors.svg
  docs/surveys/salary-survey/images/2025/2025-time-in-role-employees.svg
Due: none

salary or earnings change
  docs/surveys/salary-survey/2025.rst
  docs/surveys/salary-survey/images/2025/2025-earnings-change-contractors.svg
  docs/surveys/salary-survey/images/2025/2025-salary-change-employees.svg
Due: none

job search status - draft
  docs/surveys/salary-survey/2025.rst
  docs/surveys/salary-survey/images/2025/2025-job-search-contractors.svg
  docs/surveys/salary-survey/images/2025/2025-job-search-ec-contractor.svg
  docs/surveys/salary-survey/images/2025/2025-job-search-ec-employee.svg
  docs/surveys/salary-survey/images/2025/2025-job-search-employees.svg
Due: none

job / earnings security
  docs/surveys/salary-survey/2025.rst
  docs/surveys/salary-survey/images/2025/2025-earnings-security-confidence-contractors.svg
  docs/surveys/salary-survey/images/2025/2025-earnings-security-confidence-ec-contractor.svg
  docs/surveys/salary-survey/images/2025/2025-job-security-confidence-ec-employee.svg
  docs/surveys/salary-survey/images/2025/2025-job-security-confidence-employees.svg
Due: none

Portland 2026: adjust Writing Day afternoon time and unbold items
  docs/_data/portland-2026-schedule.yaml
Due: yamale-schedule

job search confidence (needs more chart tweaking)
  docs/surveys/salary-survey/2025.rst
  docs/surveys/salary-survey/images/2025/2025-contract-search-confidence-contractors.svg
  docs/surveys/salary-survey/images/2025/2025-contract-search-confidence-ec-contractor.svg
  docs/surveys/salary-survey/images/2025/2025-job-search-confidence-ec-employee.svg
  docs/surveys/salary-survey/images/2025/2025-job-search-confidence-employees.svg
Due: none

age group, education level, years experience
  docs/surveys/salary-survey/2025.rst
  docs/surveys/salary-survey/images/2025/2025-age-group.svg
  docs/surveys/salary-survey/images/2025/2025-education-level.svg
  docs/surveys/salary-survey/images/2025/2025-years-experience.svg
Due: none

survey feedback - charts need fixing
  docs/surveys/salary-survey/2025.rst
  docs/surveys/salary-survey/images/2025/2025-feedback-relevance.svg
  docs/surveys/salary-survey/images/2025/2025-feedback-survey-length.svg
  docs/surveys/salary-survey/images/2025/2025-feedback-usability.svg
Due: none

Add sponsor sessions to Portland 2026 schedule and unconference page
  .gitignore
  docs/_data/portland-2026-schedule.yaml
  docs/conf/portland/2026/unconference.md
Due: yamale-schedule

Add Mintlify sponsor activations across Portland 2026 pages
  docs/_data/portland-2026-schedule.yaml
  docs/conf/portland/2026/attendee-guide.md
  docs/conf/portland/2026/social-events.md
  docs/conf/portland/2026/unconference.md
  docs/conf/portland/2026/venue.md
Due: yamale-schedule

Fix broken anchor links caught by htmlproofer
  docs/_data/portland-2026-schedule.yaml
  docs/conf/portland/2026/venue.md
Due: yamale-schedule

Enable myst_all_links_external to fix relative fragment links
  docs/conf.py
  docs/conf/portland/2026/venue.md
Due: none

Revert myst_all_links_external change
  docs/conf.py
  docs/conf/portland/2026/venue.md
Due: none

Enable myst_all_links_external and fix affected cross-doc links
  docs/conf.py
  docs/conf/berlin/2026/cfp.md
  docs/conf/berlin/2026/sponsors/index.md
  docs/conf/portland/2026/cfp.md
  docs/conf/portland/2026/sponsors/index.md
  docs/hiring-guide/freelancing/business-identity.md
  docs/hiring-guide/freelancing/business-plan.md
  docs/hiring-guide/freelancing/core-values.md
  docs/hiring-guide/freelancing/cost-estimate.md
Due: none

Hardcode sponsor brand/link refs instead of list indexing
  docs/conf/portland/2026/attendee-guide.md
  docs/conf/portland/2026/social-events.md
  docs/conf/portland/2026/unconference.md
Due: none

Fix anchor link to match generated heading id
  docs/conf/portland/2026/sponsors/activations.md
Due: none

Make sponsorship ticket counts configurable per conference
  docs/_data/berlin-2026-config.yaml
  docs/_data/portland-2026-config.yaml
  docs/_data/schema-config.yaml
  docs/conf/berlin/2026/sponsors/prospectus.md
  docs/conf/portland/2026/sponsors/prospectus.md
Due: yamale-config

Extract sponsorship cost variables into config
  docs/_data/berlin-2026-config.yaml
  docs/_data/portland-2026-config.yaml
  docs/_data/schema-config.yaml
  docs/conf/berlin/2026/sponsors/prospectus.md
  docs/conf/portland/2026/sponsors/prospectus.md
Due: yamale-config

Highlight free coffee Monday and matcha Tuesday at sponsor sessions
  docs/_data/portland-2026-schedule.yaml
  docs/conf/portland/2026/unconference.md
Due: yamale-schedule

Keep schedule entries minimal; details live in unconference page
  docs/_data/portland-2026-schedule.yaml
Due: yamale-schedule

Path conditions:
  yamale-config: any of: ^docs/_data/.*-config\.(yml|yaml)$, but not: ^docs/_data/schema-config\.yaml$
  yamale-schedule: any of: ^docs/_data/.*-schedule\.(yml|yaml)$, but not: ^docs/_data/schema-schedule\.yaml$
  yamale-sessions: any of: ^docs/_data/.*-sessions\.(yml|yaml)$, but not: ^docs/_data/schema-sessions\.yaml$
