Repository writethedocs/www: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamale-config, yamale-schedule, yamale-sessions

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        files: ^docs/_data/.*\.(yml|yaml)$
        exclude: ^docs/_data/schema-.*\.yaml$
      - id: end-of-file-fixer
        files: ^docs/_data/.*\.(yml|yaml)$
      - id: trailing-whitespace
        files: ^docs/_data/.*\.(yml|yaml)$

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.26.3
    hooks:
      - id: yamllint
        files: ^docs/_data/.*\.(yml|yaml)$
        exclude: ^docs/_data/schema-.*\.yaml$

  - repo: local
    hooks:
      - id: yamale-config
        name: Validate conference config YAML against schema
        entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-config.yaml "$f" || exit 1; done' --
        language: system
        files: ^docs/_data/.*-config\.(yml|yaml)$
        exclude: ^docs/_data/schema-config\.yaml$
      - id: yamale-schedule
        name: Validate schedule YAML against schema
        entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-schedule.yaml "$f" || exit 1; done' --
        language: system
        files: ^docs/_data/.*-schedule\.(yml|yaml)$
        exclude: ^docs/_data/schema-schedule\.yaml$
      - id: yamale-sessions
        name: Validate sessions YAML against schema
        entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-sessions.yaml "$f" || exit 1; done' --
        language: system
        files: ^docs/_data/.*-sessions\.(yml|yaml)$
        exclude: ^docs/_data/schema-sessions\.yaml$

Fix pre-commit hooks for YAML schema validation
  .pre-commit-config.yaml
Due: none

Fix linting issues
  docs/_data/2017.na.speakers.yaml
  docs/_data/atlantic-2023-schedule.yaml
  docs/_data/atlantic-2023-sessions.yaml
  docs/_data/australia-2022-sessions.yaml
  docs/_data/australia-2023-sessions.yaml
  docs/_data/australia-2024-schedule.yaml
  docs/_data/australia-2024-sessions.yaml
  docs/_data/berlin-2025-schedule.yaml
  docs/_data/berlin-2025-sessions.yaml
  docs/_data/kenya-2025-sessions.yaml
  docs/_data/meetups/irl-dublin.yaml
  docs/_data/meetups/kenya-nairobi.yaml
  docs/_data/meetups/usa-huntsville.yaml
  docs/_data/meetups/usa-nashville.yaml
  docs/_data/portland-2019-day-2.yaml
  docs/_data/portland-2020-sessions.yaml
  docs/_data/portland-2021-schedule.yaml
  docs/_data/portland-2021-sessions.yaml
  docs/_data/portland-2022-schedule.yaml
  docs/_data/portland-2022-sessions.yaml
  docs/_data/portland-2023-schedule.yaml
  docs/_data/portland-2024-config.yaml
  docs/_data/portland-2024-schedule.yaml
  docs/_data/portland-2025-schedule.yaml
  docs/_data/portland-2025-sessions.yaml
  docs/_data/prague-2020-sessions.yaml
  docs/_data/prague-2022-schedule.yaml
  docs/_data/prague-2022-sessions.yaml
  docs/_data/schema-config.yaml
Due: yamale-config, yamale-schedule, yamale-sessions

Add pre-commit config (#2483)
  .pre-commit-config.yaml
  docs/_data/2017.na.speakers.yaml
  docs/_data/atlantic-2023-schedule.yaml
  docs/_data/atlantic-2023-sessions.yaml
  docs/_data/australia-2022-sessions.yaml
  docs/_data/australia-2023-sessions.yaml
  docs/_data/australia-2024-schedule.yaml
  docs/_data/australia-2024-sessions.yaml
  docs/_data/berlin-2025-schedule.yaml
  docs/_data/berlin-2025-sessions.yaml
  docs/_data/kenya-2025-sessions.yaml
  docs/_data/meetups/irl-dublin.yaml
  docs/_data/meetups/kenya-nairobi.yaml
  docs/_data/meetups/usa-huntsville.yaml
  docs/_data/meetups/usa-nashville.yaml
  docs/_data/portland-2019-day-2.yaml
  docs/_data/portland-2020-sessions.yaml
  docs/_data/portland-2021-schedule.yaml
  docs/_data/portland-2021-sessions.yaml
  docs/_data/portland-2022-schedule.yaml
  docs/_data/portland-2022-sessions.yaml
  docs/_data/portland-2023-schedule.yaml
  docs/_data/portland-2024-config.yaml
  docs/_data/portland-2024-schedule.yaml
  docs/_data/portland-2025-schedule.yaml
  docs/_data/portland-2025-sessions.yaml
  docs/_data/prague-2020-sessions.yaml
  docs/_data/prague-2022-schedule.yaml
  docs/_data/prague-2022-sessions.yaml
  docs/_data/schema-config.yaml
Due: yamale-config, yamale-schedule, yamale-sessions

Update sponsorship landing
  docs/sponsorship/index.rst
Due: none

Make example match CFP
  docs/conf/portland/2026/example-proposal.rst
Due: none

Fix title
  docs/conf/portland/2026/example-proposal.rst
Due: none

Remove limit on Keystone
  docs/conf/portland/2026/sponsors/prospectus.rst
Due: none

Make example match CFP (#2495)
  docs/conf/portland/2026/example-proposal.rst
Due: none

updated positioning so that titles can't escape masthead
  docs/_static/conf/css/main-2026.min.css
  docs/_static/conf/css/main-2026.min.css.map
  docs/_static/conf/scss/main-2026.scss
  docs/_templates/2026/generic.html
Due: none

Add HelpDocs as a PDX sponsor
  docs/_data/portland-2026-config.yaml
Due: yamale-config

add background image and overlay contrast color
  docs/_data/portland-2026-config.yaml
  docs/_static/conf/images/headers/portland-2026-small-group.jpg
  docs/_templates/2026/index.html
Due: yamale-config

added comment to explain contrast color; updated schema
  docs/_data/portland-2026-config.yaml
  docs/_data/schema-config.yaml
Due: yamale-config

updated positioning so that titles can't escape masthead (#2496)
  docs/_static/conf/css/main-2026.min.css
  docs/_static/conf/css/main-2026.min.css.map
  docs/_static/conf/scss/main-2026.scss
  docs/_templates/2026/generic.html
Due: none

Portland 2026 home header bg image; tweak to overlay gradient (accessibility) (#2500)
  docs/_data/portland-2026-config.yaml
  docs/_data/schema-config.yaml
  docs/_static/conf/images/headers/portland-2026-small-group.jpg
  docs/_templates/2026/index.html
Due: yamale-config

Add CFP reminder post
  docs/conf/portland/2026/news/cfp-reminder.md
Due: none

Add HelpDocs as a PDX sponsor (#2499)
  docs/_data/portland-2026-config.yaml
Due: yamale-config

Add 2025 speaker image
  docs/_static/conf/images/headers/portland-2025-speakers.jpg
Due: none

Small changes
  docs/conf/portland/2026/news/cfp-reminder.md
Due: none

Fix filename, you little donut
  docs/conf/portland/2026/news/cfp-reminder.md
Due: none

Add Writing Day blurb
  docs/conf/portland/2026/news/cfp-reminder.md
Due: none

Apply Katie's suggestions
  docs/conf/portland/2026/news/cfp-reminder.md
Due: none

Add 2026 January update
  docs/blog/2026-january-update.rst
Due: none

Add ReadMe as a sponsor
  docs/_data/portland-2026-config.yaml
Due: yamale-config

edited image to 620px width for compatibility with MailChimp
  docs/_static/conf/images/headers/portland-2025-speakers_mc.jpg
  docs/conf/portland/2026/news/cfp-reminder.md
Due: none

Batch of Eric's suggestions
  docs/conf/portland/2026/news/cfp-reminder.md
Due: none

Apply Eric's feedback
  docs/conf/portland/2026/news/cfp-reminder.md
Due: none

Update 2026-january-update.rst
  docs/blog/2026-january-update.rst
Due: none

Add CFP reminder post (#2501)
  docs/_static/conf/images/headers/portland-2025-speakers.jpg
  docs/_static/conf/images/headers/portland-2025-speakers_mc.jpg
  docs/conf/portland/2026/news/cfp-reminder.md
Due: none

home page mobile fixes: image size; button text wrapping
  docs/_static/conf/css/main-2026.min.css
  docs/_static/conf/css/main-2026.min.css.map
  docs/_static/conf/scss/main-2026.scss
Due: none

Add 2026 January update (#2502)
  docs/blog/2026-january-update.rst
Due: none

home page mobile fixes: image size; button text wrapping (#2503)
  docs/_static/conf/css/main-2026.min.css
  docs/_static/conf/css/main-2026.min.css.map
  docs/_static/conf/scss/main-2026.scss
Due: none

Add new sponsors
  docs/_data/portland-2026-config.yaml
  docs/_static/img/sponsors/waldium.png
Due: yamale-config

Add RTD as well
  docs/_data/portland-2026-config.yaml
Due: yamale-config

Update slack link
  docs/conf.py
Due: none

Update visiting.md
  docs/conf/portland/2026/visiting.md
Due: none

Update slack link (#2505)
  docs/conf.py
Due: none

new banner image
  docs/_static/conf/images/headers/2026/portland.jpg
  docs/conf/portland/2026/visiting.md
Due: none

update banner image
  docs/_static/conf/images/headers/2026/portland.jpg
  docs/conf/portland/2026/visiting.md
Due: none
