Repository writethedocs/www: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamale-config, yamale-schedule, yamale-sessions

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        files: ^docs/_data/.*\.(yml|yaml)$
        exclude: ^docs/_data/schema-.*\.yaml$
      - id: end-of-file-fixer
        files: ^docs/_data/.*\.(yml|yaml)$
      - id: trailing-whitespace
        files: ^docs/_data/.*\.(yml|yaml)$

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.26.3
    hooks:
      - id: yamllint
        files: ^docs/_data/.*\.(yml|yaml)$
        exclude: ^docs/_data/schema-.*\.yaml$

  - repo: local
    hooks:
      - id: yamale-config
        name: Validate conference config YAML against schema
        entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-config.yaml "$f" || exit 1; done' --
        language: system
        files: ^docs/_data/.*-config\.(yml|yaml)$
        exclude: ^docs/_data/schema-config\.yaml$
      - id: yamale-schedule
        name: Validate schedule YAML against schema
        entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-schedule.yaml "$f" || exit 1; done' --
        language: system
        files: ^docs/_data/.*-schedule\.(yml|yaml)$
        exclude: ^docs/_data/schema-schedule\.yaml$
      - id: yamale-sessions
        name: Validate sessions YAML against schema
        entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-sessions.yaml "$f" || exit 1; done' --
        language: system
        files: ^docs/_data/.*-sessions\.(yml|yaml)$
        exclude: ^docs/_data/schema-sessions\.yaml$

home: ask people to take the salary survey while it's open
  docs/conf.py
  docs/index.rst
Due: none

docs: add Lumina to Sphinx themes guide
  docs/_static/img/lumina.png
  docs/guide/tools/sphinx-themes.rst
Due: none

[australia] - announce speakers and new sponsor
  docs/_data/australia-2026-config.yaml
  docs/_data/australia-2026-sessions.yaml
  docs/_scripts/pretalx2wtd.py
  docs/_static/img/speakers/ben-fairless.webp
  docs/_static/img/speakers/claire-mahoney.webp
  docs/_static/img/speakers/eeshaan-sawant.webp
  docs/_static/img/speakers/janeera-d-a.webp
  docs/_static/img/speakers/julian-fleetwood.webp
  docs/_static/img/speakers/lana-brindley-she-her.webp
  docs/_static/img/speakers/selva.webp
  docs/_static/img/speakers/tristan-bunn.webp
  docs/conf/australia/2026/news/announcing-speakers-schedule.rst
Due: yamale-config, yamale-sessions

fixed character errors
  docs/_data/australia-2026-sessions.yaml
Due: yamale-sessions

test build
  docs/Makefile
Due: none

revert fix
  docs/Makefile
  docs/_data/australia-2026-sessions.yaml
Due: yamale-sessions

fix unicode
  docs/_data/australia-2026-sessions.yaml
Due: yamale-sessions

more fixes
  docs/_data/australia-2026-sessions.yaml
Due: yamale-sessions

test fix
  docs/Makefile
Due: none

fix ubuntu errors
  docs/_data/australia-2026-sessions.yaml
Due: yamale-sessions

revert makefile
  docs/Makefile
Due: none

[australia] - announce new sponsor and add speaker details
  docs/_data/australia-2026-config.yaml
  docs/_data/australia-2026-sessions.yaml
  docs/_scripts/pretalx2wtd.py
  docs/_static/img/speakers/ben-fairless.webp
  docs/_static/img/speakers/claire-mahoney.webp
  docs/_static/img/speakers/eeshaan-sawant.webp
  docs/_static/img/speakers/janeera-d-a.webp
  docs/_static/img/speakers/julian-fleetwood.webp
  docs/_static/img/speakers/lana-brindley-she-her.webp
  docs/_static/img/speakers/selva.webp
  docs/_static/img/speakers/tristan-bunn.webp
  docs/conf/australia/2026/news/announcing-speakers-schedule.rst
Due: yamale-config, yamale-sessions

more unicode fixes
  docs/_data/australia-2026-sessions.yaml
Due: yamale-sessions

fix quotes
  docs/_data/australia-2026-sessions.yaml
Due: yamale-sessions

[australia]: add speakers and sponsor
  docs/_data/australia-2026-config.yaml
  docs/_data/australia-2026-sessions.yaml
  docs/_scripts/pretalx2wtd.py
  docs/_static/img/speakers/ben-fairless.webp
  docs/_static/img/speakers/claire-mahoney.webp
  docs/_static/img/speakers/eeshaan-sawant.webp
  docs/_static/img/speakers/janeera-d-a.webp
  docs/_static/img/speakers/julian-fleetwood.webp
  docs/_static/img/speakers/lana-brindley-she-her.webp
  docs/_static/img/speakers/selva.webp
  docs/_static/img/speakers/tristan-bunn.webp
Due: yamale-config, yamale-sessions

add speaker blog post
  docs/_data/australia-2026-config.yaml
  docs/conf/australia/2026/news/announcing-speakers.md
  docs/conf/australia/2026/volunteer.md
Due: yamale-config

minor edits to blog
  docs/conf/australia/2026/news/announcing-speakers.md
Due: none

fixes and toggles
  docs/_data/australia-2026-config.yaml
  docs/_data/australia-2026-sessions.yaml
Due: yamale-config, yamale-sessions

[australia]: add speakers and sponsor (#2789)
  docs/_data/australia-2026-config.yaml
  docs/_data/australia-2026-sessions.yaml
  docs/_scripts/pretalx2wtd.py
  docs/_static/img/speakers/ben-fairless.webp
  docs/_static/img/speakers/claire-mahoney.webp
  docs/_static/img/speakers/eeshaan-sawant.webp
  docs/_static/img/speakers/janeera-d-a.webp
  docs/_static/img/speakers/julian-fleetwood.webp
  docs/_static/img/speakers/lana-brindley-she-her.webp
  docs/_static/img/speakers/selva.webp
  docs/_static/img/speakers/tristan-bunn.webp
  docs/conf/australia/2026/news/announcing-speakers.md
  docs/conf/australia/2026/volunteer.md
Due: yamale-config, yamale-sessions

australia: use the branded ticket button in the speakers post
  docs/conf/australia/2026/news/announcing-speakers.md
Due: none

australia: use the button-link directive for the ticket button
  docs/conf/australia/2026/news/announcing-speakers.md
Due: none

conf: use the branded ticket button in the Australia 2026 speakers post (#2790)
  docs/conf/australia/2026/news/announcing-speakers.md
Due: none

docs: add a color option to button-link and use it for older buttons
  docs/_ext/button.py
  docs/conf/berlin/2025/lightning-talks.md
  docs/conf/berlin/2025/news/announcing-speakers.rst
  docs/conf/berlin/2025/news/one-month-out.md
  docs/conf/berlin/2025/news/welcome-berlin-2025.md
  docs/conf/berlin/2025/unconference.md
  docs/conf/berlin/2026/news/announcing-speakers.md
  docs/conf/berlin/2026/news/two-months-out.md
  docs/conf/portland/2025/hike.md
  docs/conf/portland/2025/lightning-talks.md
  docs/conf/portland/2025/news/announcing-speaker-series.rst
  docs/conf/portland/2025/news/announcing-speakers.rst
  docs/conf/portland/2025/news/one-month-out.md
  docs/conf/portland/2025/news/two-months-out.md
  docs/conf/portland/2025/news/visiting-portland-information.md
  docs/conf/portland/2025/news/welcome-portland-2025.md
  docs/conf/portland/2025/unconference.md
Due: none

home: ask people to take the salary survey while it's open (#2785)
  docs/conf.py
  docs/index.rst
Due: none

docs: pick the button-link color from a year-to-color map
  docs/_ext/button.py
  docs/conf/berlin/2025/lightning-talks.md
  docs/conf/berlin/2025/news/announcing-speakers.rst
  docs/conf/berlin/2025/news/one-month-out.md
  docs/conf/berlin/2025/news/welcome-berlin-2025.md
  docs/conf/berlin/2025/unconference.md
  docs/conf/berlin/2026/lightning-talks.md
  docs/conf/berlin/2026/news/announcing-schedule.md
  docs/conf/berlin/2026/news/announcing-speakers.md
  docs/conf/berlin/2026/news/four-weeks-out.md
  docs/conf/berlin/2026/news/two-months-out.md
  docs/conf/berlin/2026/news/welcome-berlin-2026.md
  docs/conf/berlin/2026/news/writing-day-schedule.md
  docs/conf/berlin/2026/unconference.md
  docs/conf/portland/2025/hike.md
  docs/conf/portland/2025/lightning-talks.md
  docs/conf/portland/2025/news/announcing-speaker-series.rst
  docs/conf/portland/2025/news/announcing-speakers.rst
  docs/conf/portland/2025/news/one-month-out.md
  docs/conf/portland/2025/news/two-months-out.md
  docs/conf/portland/2025/news/visiting-portland-information.md
  docs/conf/portland/2025/news/welcome-portland-2025.md
  docs/conf/portland/2025/unconference.md
  docs/conf/portland/2026/lightning-talks.md
  docs/conf/portland/2026/news/announcing-schedule.md
  docs/conf/portland/2026/news/announcing-speakers.md
  docs/conf/portland/2026/news/one-month-out.md
  docs/conf/portland/2026/news/welcome-portland-2026.md
  docs/conf/portland/2026/unconference.md
  docs/conf/portland/2027/lightning-talks.md
  docs/conf/portland/2027/unconference.md
Due: none

docs: explain the contrast math in button-link
  docs/_ext/button.py
Due: none

docs: store the button-link text color in the year map
  docs/_ext/button.py
Due: none

docs: use button-link for the announcement buttons on conference pages
  docs/conf/atlantic/2023/cfp.rst
  docs/conf/atlantic/2024/cfp.rst
  docs/conf/australia/2021/cfp.rst
  docs/conf/australia/2022/cfp.rst
  docs/conf/australia/2023/cfp.rst
  docs/conf/australia/2024/cfp.rst
  docs/conf/australia/2025/cfp.rst
  docs/conf/australia/2026/cfp.md
  docs/conf/australia/2026/volunteer.md
  docs/conf/australia/2026/writing-day.md
  docs/conf/berlin/2025/cfp.rst
  docs/conf/berlin/2026/cfp.md
  docs/conf/berlin/2026/volunteer.md
  docs/conf/berlin/2026/writing-day.md
  docs/conf/portland/2021/cfp.rst
  docs/conf/portland/2022/cfp.rst
  docs/conf/portland/2023/cfp.rst
  docs/conf/portland/2024/cfp.rst
  docs/conf/portland/2025/cfp.rst
  docs/conf/portland/2025/volunteer.md
  docs/conf/portland/2025/writing-day.md
  docs/conf/portland/2026/cfp.md
  docs/conf/portland/2026/news/two-months-out.md
  docs/conf/portland/2026/opportunity-grants.md
  docs/conf/portland/2026/volunteer.md
  docs/conf/portland/2026/writing-day.md
  docs/conf/portland/2027/cfp.md
  docs/conf/portland/2027/opportunity-grants.md
  docs/conf/portland/2027/sponsors/prospectus.md
  docs/conf/portland/2027/volunteer.md
  docs/conf/portland/2027/writing-day.md
  docs/conf/prague/2021/cfp.rst
  docs/conf/prague/2022/cfp.rst
Due: none

docs: render the template callout buttons with button-link too
  docs/_ext/button.py
  docs/_templates/2018/base.html
  docs/_templates/2018/index.html
  docs/_templates/2019/base.html
  docs/_templates/2019/index.html
  docs/_templates/2020/base.html
  docs/_templates/2020/index.html
  docs/_templates/2021/base.html
  docs/_templates/2021/index.html
  docs/_templates/2022/base.html
  docs/_templates/2022/index.html
  docs/_templates/2023/base.html
  docs/_templates/2023/index.html
  docs/_templates/2024/base.html
  docs/_templates/2024/index.html
  docs/_templates/2025/base.html
  docs/_templates/2025/index.html
  docs/_templates/2026/base.html
  docs/_templates/2026/index-australia.html
  docs/_templates/2026/index.html
  docs/_templates/2027/base.html
  docs/_templates/2027/index-australia.html
  docs/_templates/2027/index.html
  docs/conf.py
Due: none

docs: make button-link a real button and wrap multiple callouts
  docs/_data/portland-2025-config.yaml
  docs/_ext/button.py
  docs/_templates/2018/base.html
  docs/_templates/2018/index.html
  docs/_templates/2019/base.html
  docs/_templates/2019/index.html
  docs/_templates/2020/base.html
  docs/_templates/2020/index.html
  docs/_templates/2021/base.html
  docs/_templates/2021/index.html
  docs/_templates/2022/base.html
  docs/_templates/2022/index.html
  docs/_templates/2023/base.html
  docs/_templates/2023/index.html
  docs/_templates/2024/base.html
  docs/_templates/2024/index.html
  docs/_templates/2025/base.html
  docs/_templates/2025/index.html
  docs/_templates/2026/base.html
  docs/_templates/2026/index-australia.html
  docs/_templates/2026/index.html
  docs/_templates/2027/base.html
  docs/_templates/2027/index-australia.html
  docs/_templates/2027/index.html
  docs/conf/portland/2025/news/announcing-schedule.rst
Due: yamale-config

docs: keep hero and footer callouts on one row
  docs/_templates/2018/base.html
  docs/_templates/2018/index.html
  docs/_templates/2019/base.html
  docs/_templates/2019/index.html
  docs/_templates/2020/base.html
  docs/_templates/2020/index.html
  docs/_templates/2021/base.html
  docs/_templates/2021/index.html
  docs/_templates/2022/base.html
  docs/_templates/2022/index.html
  docs/_templates/2023/base.html
  docs/_templates/2023/index.html
  docs/_templates/2024/base.html
  docs/_templates/2024/index.html
  docs/_templates/2025/base.html
  docs/_templates/2025/index.html
  docs/_templates/2026/base.html
  docs/_templates/2026/index-australia.html
  docs/_templates/2026/index.html
  docs/_templates/2027/base.html
  docs/_templates/2027/index-australia.html
  docs/_templates/2027/index.html
Due: none

Add community showcase
  docs/_ext/atom_absolute.py
  docs/newsletter.rst
  docs/organizer-guide/index.rst
  docs/organizer-guide/showcase/editorial-guidelines.rst
  docs/organizer-guide/showcase/showcase-process.rst
  docs/showcase.rst
Due: none

Fix link that broke build
  docs/organizer-guide/showcase/showcase-process.rst
Due: none

Fix title underline too short
  docs/organizer-guide/showcase/editorial-guidelines.rst
Due: none

conf: space out all Berlin 2026 hero buttons, not just the first
  docs/_static/conf/css/main-2026.min.css
  docs/_static/conf/scss/main-2026.scss
Due: none

guide: remove unmaintained Sphinx themes and fix stale links
  docs/_static/img/bootstrap.png
  docs/_static/img/documatt.png
  docs/_static/img/guzzle.png
  docs/guide/tools/sphinx-community.rst
  docs/guide/tools/sphinx-themes.rst
  docs/guide/tools/sphinx.rst
Due: none

guide: recommend Furo first among Sphinx themes
  docs/guide/tools/sphinx-themes.rst
Due: none

guide: remove dead links and outdated tool recommendations
  docs/guide/about/alternatives.rst
  docs/guide/api/api-documentation-tools.rst
  docs/guide/docs-as-code.rst
  docs/guide/presentations/index.rst
  docs/guide/seo.rst
  docs/guide/tools/testing.rst
  docs/guide/writing/accessibility.md
  docs/guide/writing/beginners-guide-to-docs.rst
  docs/guide/writing/markdown.md
  docs/guide/writing/reducing-bias.md
  docs/guide/writing/style-guides.md
Due: none

guide: keep this change to fixes, move new content to a separate PR
  docs/guide/api/api-documentation-tools.rst
  docs/guide/tools/testing.rst
  docs/guide/writing/markdown.md
Due: none

guide: keep Sphinx install steps as-is, move rewrite to a separate PR
  docs/guide/tools/sphinx.rst
Due: none
