Repository writethedocs/www: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamale-config, yamale-schedule, yamale-sessions

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        files: ^docs/_data/.*\.(yml|yaml)$
        exclude: ^docs/_data/schema-.*\.yaml$
      - id: end-of-file-fixer
        files: ^docs/_data/.*\.(yml|yaml)$
      - id: trailing-whitespace
        files: ^docs/_data/.*\.(yml|yaml)$

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.26.3
    hooks:
      - id: yamllint
        files: ^docs/_data/.*\.(yml|yaml)$
        exclude: ^docs/_data/schema-.*\.yaml$

  - repo: local
    hooks:
      - id: yamale-config
        name: Validate conference config YAML against schema
        entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-config.yaml "$f" || exit 1; done' --
        language: system
        files: ^docs/_data/.*-config\.(yml|yaml)$
        exclude: ^docs/_data/schema-config\.yaml$
      - id: yamale-schedule
        name: Validate schedule YAML against schema
        entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-schedule.yaml "$f" || exit 1; done' --
        language: system
        files: ^docs/_data/.*-schedule\.(yml|yaml)$
        exclude: ^docs/_data/schema-schedule\.yaml$
      - id: yamale-sessions
        name: Validate sessions YAML against schema
        entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-sessions.yaml "$f" || exit 1; done' --
        language: system
        files: ^docs/_data/.*-sessions\.(yml|yaml)$
        exclude: ^docs/_data/schema-sessions\.yaml$

Be more obvious about the API key
  docs/_scripts/pretalx2cfpsheet.py
Due: none

Run these with python
  docs/_scripts/pretalx2mc-info.py
  docs/_scripts/pretalx2wtd.py
Due: none

Script updates (#2523)
  docs/_scripts/pretalx2cfpsheet.py
  docs/_scripts/pretalx2mc-info.py
  docs/_scripts/pretalx2wtd.py
Due: none

Add Expert Support sponsor at publisher level for Portland 2026
  docs/_data/portland-2026-config.yaml
Due: yamale-config

Add Stainless as a sponsor
  docs/_data/portland-2026-config.yaml
  docs/_static/img/sponsors/stainless.png
Due: yamale-config

Show Fern a bit smaller
  docs/_data/portland-2026-config.yaml
Due: yamale-config

Add February 2026 newsletter
  docs/blog/newsletter-february-2026.rst
  docs/topics.rst
Due: none

Fix typo
  docs/blog/newsletter-february-2026.rst
Due: none

Add link
  docs/blog/newsletter-february-2026.rst
Due: none

Fix links
  docs/blog/newsletter-february-2026.rst
  docs/topics.rst
Due: none

Update London organisers list
  docs/_data/meetups/gbr-london.yaml
Due: none

Add MongoDB as patron for Portland 2026
  docs/_data/portland-2026-config.yaml
Due: yamale-config

Add Gliffy logo to February 2026 newsletter
  docs/blog/newsletter-february-2026.rst
Due: none

Fix typo in Gliffy URL (ttps -> https)
  docs/blog/newsletter-february-2026.rst
Due: none

Update London organisers list (#2527)
  docs/_data/meetups/gbr-london.yaml
Due: none

Update publish date
  docs/blog/newsletter-february-2026.rst
Due: none

Add February 2026 newsletter (#2526)
  docs/blog/newsletter-february-2026.rst
  docs/topics.rst
Due: none

Update information.md
  docs/conf/portland/2026/sponsors/information.md
Due: none

update Atlassian CLI principles blog post url
  docs/guide/writing/style-guides.md
Due: none

update Atlassian CLI principles blog post url (#2529)
  docs/guide/writing/style-guides.md
Due: none

Tweak dates and formats
  docs/_ext/filters.py
  docs/_scripts/pretalx2wtd.py
Due: none

Tweak flags, add talks
  docs/_data/portland-2026-config.yaml
  docs/_data/portland-2026-sessions.yaml
Due: yamale-config, yamale-sessions

Add speaker pics
  docs/_static/img/speakers/adam-michael-wood.webp
  docs/_static/img/speakers/aileen.webp
  docs/_static/img/speakers/alex-garnett.webp
  docs/_static/img/speakers/alina-desiatnikova.webp
  docs/_static/img/speakers/annie-zempel.webp
  docs/_static/img/speakers/busayo-ojo.webp
  docs/_static/img/speakers/christian-miles.webp
  docs/_static/img/speakers/darlene-chanimaya-postma.webp
  docs/_static/img/speakers/ethan-palm.webp
  docs/_static/img/speakers/mary-elise-dedicke.webp
  docs/_static/img/speakers/rakesh-pasupuleti.webp
  docs/_static/img/speakers/sarah-deaton.webp
  docs/_static/img/speakers/sarah-lin.webp
Due: none

Testing
  requirements.txt
Due: none

Fix it, I think
  requirements.txt
Due: none

Draft post
  docs/conf/portland/2026/news/announcing-speakers.rst
Due: none

Fix build issues (#2531)
  requirements.txt
Due: none

Update docs/conf/portland/2026/news/announcing-speakers.rst
  docs/conf/portland/2026/news/announcing-speakers.rst
Due: none

Fix pic
  docs/_static/img/speakers/christian-miles.webp
Due: none

Linky linky fixy fixy
  docs/conf/portland/2026/news/announcing-speakers.rst
Due: none

Apply Katie's feedback
  docs/conf/portland/2026/news/announcing-speakers.rst
Due: none

More edits from Katie
  docs/conf/portland/2026/news/announcing-speakers.rst
Due: none

Whoops, forgot to update link
  docs/conf/portland/2026/news/announcing-speakers.rst
Due: none

Try to fix centring
  docs/conf/portland/2026/news/announcing-speakers.rst
Due: none

Fix name
  docs/_data/portland-2026-sessions.yaml
  docs/_static/img/speakers/aileen-mary.webp
Due: yamale-sessions

Integrate WTD Portland 2021 Sphinx unconference session notes (#2484)
  docs/guide/tools/index.rst
  docs/guide/tools/sphinx-community.rst
  docs/guide/tools/sphinx-themes.rst
  docs/guide/tools/sphinx.rst
  vale/WTD/headings.yml
Due: none

Add KnowledgeOwl as publisher sponsor
  docs/_data/portland-2025-config.yaml
  docs/_data/portland-2026-config.yaml
Due: yamale-config

Limit KnowledgeOwl sponsor to 2026
  docs/_data/portland-2025-config.yaml
Due: yamale-config
