Repository writethedocs/www: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamale-config, yamale-schedule, yamale-sessions

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        files: ^docs/_data/.*\.(yml|yaml)$
        exclude: ^docs/_data/schema-.*\.yaml$
      - id: end-of-file-fixer
        files: ^docs/_data/.*\.(yml|yaml)$
      - id: trailing-whitespace
        files: ^docs/_data/.*\.(yml|yaml)$

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.26.3
    hooks:
      - id: yamllint
        files: ^docs/_data/.*\.(yml|yaml)$
        exclude: ^docs/_data/schema-.*\.yaml$

  - repo: local
    hooks:
      - id: yamale-config
        name: Validate conference config YAML against schema
        entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-config.yaml "$f" || exit 1; done' --
        language: system
        files: ^docs/_data/.*-config\.(yml|yaml)$
        exclude: ^docs/_data/schema-config\.yaml$
      - id: yamale-schedule
        name: Validate schedule YAML against schema
        entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-schedule.yaml "$f" || exit 1; done' --
        language: system
        files: ^docs/_data/.*-schedule\.(yml|yaml)$
        exclude: ^docs/_data/schema-schedule\.yaml$
      - id: yamale-sessions
        name: Validate sessions YAML against schema
        entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-sessions.yaml "$f" || exit 1; done' --
        language: system
        files: ^docs/_data/.*-sessions\.(yml|yaml)$
        exclude: ^docs/_data/schema-sessions\.yaml$

currency rates (employees and conractors)
  docs/surveys/salary-survey/2025.rst
Due: none

Fix NYC listing
  docs/_data/meetups/usa-nyc.yaml
Due: none

Lower Berlin 2026 a la carte sponsor prices
  docs/_data/berlin-2026-config.yaml
Due: yamale-config

median salary
  docs/surveys/salary-survey/2025.rst
Due: none

Use consistent "Write the Docs" branding in conference listings
  docs/code-of-conduct.rst
  docs/conf.py
  docs/include/conf/current.rst
  docs/index.rst
  docs/sponsorship/index.rst
Due: none

Replace hardcoded city/year/day-of-week copy with config variables
  docs/_data/berlin-2026-config.yaml
  docs/_data/portland-2026-config.yaml
  docs/conf/berlin/2026/cfp.md
  docs/conf/berlin/2026/convince-your-manager.md
  docs/conf/berlin/2026/speaker-info.md
  docs/conf/berlin/2026/tickets.md
  docs/conf/berlin/2026/virtual.md
  docs/conf/berlin/2026/writing-day.md
  docs/conf/portland/2026/cfp.md
  docs/conf/portland/2026/convince-your-manager.md
  docs/conf/portland/2026/opportunity-grants.md
  docs/conf/portland/2026/speaker-info.md
  docs/conf/portland/2026/sponsors/information.md
  docs/conf/portland/2026/writing-day.md
Due: yamale-config

Link to Write the Docs Berlin 2026 sponsorship prospectus
  docs/sponsorship/index.rst
Due: none

Trim "Write the Docs" prefix from conference listings
  docs/code-of-conduct.rst
  docs/conf.py
  docs/include/conf/current.rst
  docs/include/conf/past.rst
  docs/index.rst
  docs/sponsorship/index.rst
Due: none

Add Berlin 2026 announcement dates
  docs/conf.py
Due: none

Drop stale Berlin 2025 announcement entry
  docs/conf.py
Due: none

Add Portland 2026 conference-days announcement
  docs/conf.py
Due: none

Restore "conference" in sponsorship page copy
  docs/sponsorship/index.rst
Due: none

End Portland 2026 conference announcement on May 5
  docs/conf.py
Due: none

Portland 2026: add sponsor descriptions for Promptless, Stainless, GitBook
  docs/_data/portland-2026-config.yaml
Due: yamale-config

Reorganize main site nav around the four About hub pages
  docs/about/about-the-org.rst
  docs/about/events-activities.rst
  docs/about/learning-resources.rst
  docs/about/stay-connected.rst
  docs/index.rst
  docs/site-map.rst
Due: none

Revert prose rewrites; keep only structural fixes
  docs/about/about-the-org.rst
  docs/about/events-activities.rst
  docs/about/learning-resources.rst
  docs/about/stay-connected.rst
  docs/index.rst
Due: none

factors affecting employee satisfaction
  docs/surveys/salary-survey/2025.rst
  docs/surveys/salary-survey/images/2025/2025-satisfaction-factors-job-employees.svg
  docs/surveys/salary-survey/images/2025/2025-satisfaction-factors-salary-employees.svg
  docs/surveys/salary-survey/images/2025/2025-satisfaction-factors-team-employees.svg
  docs/surveys/salary-survey/images/2025/2025-satisfaction-factors-workplace-employees.svg
Due: none

Drop BIPOC from Stay Connected hub
  docs/about/stay-connected.rst
Due: none

contractors - preferred term and type of contract work
  docs/surveys/salary-survey/2025.rst
  docs/surveys/salary-survey/images/2025/2025-contractor-preferred-term.svg
  docs/surveys/salary-survey/images/2025/2025-contractor-type-clients.svg
  docs/surveys/salary-survey/images/2025/2025-contractor-type-contract-length.svg
  docs/surveys/salary-survey/images/2025/2025-contractor-type-products-services.svg
Due: none

Fix per-conference CoC include end-before after heading rename
  docs/conf/atlantic/2024/code-of-conduct.rst
  docs/conf/australia/2024/code-of-conduct.rst
  docs/conf/australia/2025/code-of-conduct.rst
  docs/conf/berlin/2025/code-of-conduct.rst
  docs/conf/berlin/2026/code-of-conduct.md
  docs/conf/portland/2024/code-of-conduct.rst
  docs/conf/portland/2025/code-of-conduct.rst
  docs/conf/portland/2026/code-of-conduct.md
Due: none

Fail the Sphinx build on warnings, and fix existing warnings
  .readthedocs.yaml
  docs/Makefile
  docs/_ext/warning_filter.py
  docs/conf.py
  docs/surveys/salary-survey/2023.rst
  docs/surveys/salary-survey/2024.rst
  docs/videos/index.rst
Due: none

Fix duplicate-label warnings by rewriting shared includes
  docs/_ext/warning_filter.py
  docs/code-of-conduct.rst
  docs/conf.py
  docs/conf/berlin/2026/code-of-conduct.md
  docs/conf/portland/2026/code-of-conduct.md
  docs/include/conf/portland/speaking-tips-2025.rst
  docs/include/conf/virtual/talk-recording-guide.rst
Due: none

Stupid fix for local warnings
  docs/conf/australia/2024/cfp-email-templates.rst
  docs/conf/australia/2025/cfp-email-templates.rst
Due: none

conractor rates
  docs/surveys/salary-survey/2025.rst
Due: none

contractor satisfaction
  docs/surveys/salary-survey/2025.rst
  docs/surveys/salary-survey/images/2025/2025-earnings-satisfaction-contractors.svg
  docs/surveys/salary-survey/images/2025/2025-overall-satisfaction-contractors.svg
Due: none

salary satisfaction charts
  docs/surveys/salary-survey/images/2025/2025-overall-satisfaction-employees.svg
  docs/surveys/salary-survey/images/2025/2025-salary-satisfaction.svg
Due: none

contractor satisfaction factors
  docs/surveys/salary-survey/2025.rst
  docs/surveys/salary-survey/images/2025/2025-satisfaction-factors-contracts-contractors.svg
  docs/surveys/salary-survey/images/2025/2025-satisfaction-factors-earnings-contractors.svg
  docs/surveys/salary-survey/images/2025/2025-satisfaction-factors-teams-contractors.svg
  docs/surveys/salary-survey/images/2025/2025-satisfaction-factors-workplaces-contractors.svg
Due: none

organization demographics
  docs/surveys/salary-survey/2025.rst
  docs/surveys/salary-survey/images/2025/2025-organization-size.svg
Due: none

Fix Portland 2026 first talk start time shifted by sponsor sessions
  docs/_data/portland-2026-schedule.yaml
Due: yamale-schedule

Put Portland 2026 sponsor session entries in chronological order
  docs/_data/portland-2026-schedule.yaml
Due: yamale-schedule

Portland 2026: add Monday complimentary headshots to schedule
  docs/_data/portland-2026-schedule.yaml
  docs/conf/portland/2026/attendee-guide.md
Due: yamale-schedule

Portland 2026: remove timing details from headshots attendee guide section
  docs/conf/portland/2026/attendee-guide.md
Due: none

Add end times to schedule display for talks and substantial events
  docs/_ext/core.py
  docs/_static/conf/css/main-2026.min.css
  docs/_static/conf/scss/main-2026.scss
  docs/_templates/include/schedule2026.md
Due: none

Use explicit end_time and start times in schedule YAML
  docs/_data/portland-2026-schedule.yaml
  docs/_data/schema-schedule.yaml
  docs/_ext/core.py
Due: yamale-schedule

Add explicit start times to talks and major events in Portland 2026 schedule
  docs/_data/portland-2026-schedule.yaml
Due: yamale-schedule

Fix duplicate 'code of conduct' label by using start-after in includes
  docs/conf/berlin/2026/code-of-conduct.md
  docs/conf/portland/2026/code-of-conduct.md
Due: none

Speed up CI workflows
  .github/workflows/spellcheck.yml
  .github/workflows/ubuntu.yml
  .github/workflows/vale.yml
  .github/workflows/validate_yaml.yml
  .github/workflows/windows.yml
Due: none

Use RTD's native uv support instead of asdf workaround
  .readthedocs.yaml
Due: none

Use build.jobs.build override for parallel Sphinx on RTD
  .readthedocs.yaml
Due: none

Drop -W from RTD build command
  .readthedocs.yaml
Due: none
