Repository writethedocs/www: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamale-config, yamale-schedule, yamale-sessions

yamale-config:
  name: Validate conference config YAML against schema
  entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-config.yaml "$f" || exit 1; done' --
  language: system

yamale-schedule:
  name: Validate schedule YAML against schema
  entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-schedule.yaml "$f" || exit 1; done' --
  language: system

yamale-sessions:
  name: Validate sessions YAML against schema
  entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-sessions.yaml "$f" || exit 1; done' --
  language: system

Update docs/conf/portland/2026/attendee-guide.md
  docs/conf/portland/2026/attendee-guide.md
Due: none

Add Berlin 2026 RSS
  docs/_ext/atom_absolute.py
Due: none

Update docs/conf/berlin/2026/news/welcome.md
  docs/conf/berlin/2026/news/welcome.md
Due: none

Fix day two/four rendering on front page
  docs/_templates/2026/index.html
Due: none

Add Berlin 2026 landing page
  docs/_data/berlin-2026-config.yaml
  docs/conf/berlin/2026/about.md
  docs/conf/berlin/2026/attendee-guide.md
  docs/conf/berlin/2026/badge-flair.md
  docs/conf/berlin/2026/cfp-email-templates.rst
  docs/conf/berlin/2026/cfp.md
  docs/conf/berlin/2026/code-of-conduct.md
  docs/conf/berlin/2026/contact.md
  docs/conf/berlin/2026/convince-your-manager.md
  docs/conf/berlin/2026/example-proposal.md
  docs/conf/berlin/2026/health.md
  docs/conf/berlin/2026/index.md
  docs/conf/berlin/2026/lightning-talks.md
  docs/conf/berlin/2026/livestream.md
  docs/conf/berlin/2026/mailing-list.md
  docs/conf/berlin/2026/news/index.md
  docs/conf/berlin/2026/news/welcome.md
  docs/conf/berlin/2026/opportunity-grants.md
  docs/conf/berlin/2026/press-kit.md
  docs/conf/berlin/2026/qa.md
  docs/conf/berlin/2026/schedule-virtual.md
  docs/conf/berlin/2026/schedule.md
  docs/conf/berlin/2026/social-events.md
  docs/conf/berlin/2026/speaker-info.md
  docs/conf/berlin/2026/speakers.md
  docs/conf/berlin/2026/sponsors/index.md
  docs/conf/berlin/2026/sponsors/information.md
  docs/conf/berlin/2026/sponsors/prospectus.md
  docs/conf/berlin/2026/talk-recording-guidelines.md
  docs/conf/berlin/2026/team.md
  docs/conf/berlin/2026/tickets.md
  docs/conf/berlin/2026/unconference-cheatsheet.md
  docs/conf/berlin/2026/unconference.md
  docs/conf/berlin/2026/venue.md
  docs/conf/berlin/2026/virtual.md
  docs/conf/berlin/2026/visiting.md
  docs/conf/berlin/2026/volunteer.md
  docs/conf/berlin/2026/writing-day-cheatsheet.md
  docs/conf/berlin/2026/writing-day.md
  docs/index.rst
Due: yamale-config

PLACEHOLDER Berlin logos (where are these used?)
  docs/_static/conf/images/logos/berlin2026-dark.png
  docs/_static/conf/images/logos/berlin2026.png
Due: none

Update Berlin refund policy (port #2451)
  docs/conf/berlin/2026/tickets.md
Due: none

cleanup
  docs/conf/berlin/2026/news/welcome.md
Due: none

Feedback from Abi
  docs/conf/berlin/2026/news/welcome.md
  docs/conf/berlin/2026/venue.md
Due: none

Logo fix
  docs/_static/img/sponsors/mintlify.png
Due: none

Logo fix (#2569)
  docs/_static/img/sponsors/mintlify.png
Due: none

Update GH logo
  docs/_data/portland-2026-config.yaml
  docs/_static/img/sponsors/github-new.png
Due: yamale-config

Use variables instead of hardcoded in more places in Portland
  docs/conf/portland/2026/attendee-guide.md
  docs/conf/portland/2026/convince-your-manager.md
  docs/conf/portland/2026/lightning-talks.md
  docs/conf/portland/2026/news/cfp-reminder.md
  docs/conf/portland/2026/opportunity-grants.md
  docs/conf/portland/2026/speaker-info.md
  docs/conf/portland/2026/sponsors/information.md
  docs/conf/portland/2026/team.md
  docs/conf/portland/2026/virtual.md
Due: none

Use variables instead of hardcoded in more places in Portland (#2560)
  docs/conf/portland/2026/attendee-guide.md
  docs/conf/portland/2026/convince-your-manager.md
  docs/conf/portland/2026/lightning-talks.md
  docs/conf/portland/2026/news/cfp-reminder.md
  docs/conf/portland/2026/opportunity-grants.md
  docs/conf/portland/2026/speaker-info.md
  docs/conf/portland/2026/sponsors/information.md
  docs/conf/portland/2026/team.md
  docs/conf/portland/2026/virtual.md
Due: none

Update GH logo (#2570)
  docs/_data/portland-2026-config.yaml
  docs/_static/img/sponsors/github-new.png
Due: yamale-config

Apply suggestions from code review
  docs/conf/portland/2026/hike.md
Due: none

Add time to hike date in schedule
  docs/conf/portland/2026/hike.md
Due: none

Update hike date format in portland-2026-config.yaml
  docs/_data/portland-2026-config.yaml
Due: yamale-config

Update hike.md
  docs/conf/portland/2026/hike.md
Due: none

Update social-events.md
  docs/conf/portland/2026/social-events.md
Due: none

Standardize time formatting across Portland 2026 conference pages (#2572)
  docs/_data/portland-2026-config.yaml
  docs/conf/portland/2026/attendee-guide.md
  docs/conf/portland/2026/social-events.md
  docs/conf/portland/2026/venue.md
Due: yamale-config

Update visiting.md
  docs/conf/portland/2026/visiting.md
Due: none

Update social-events.md (#2571)
  docs/_data/portland-2026-config.yaml
  docs/conf/portland/2026/attendee-guide.md
  docs/conf/portland/2026/social-events.md
  docs/conf/portland/2026/venue.md
Due: yamale-config

Confirm dates
  docs/_data/berlin-2026-config.yaml
Due: yamale-config

Add footer navigation to 2026 conference template
  docs/_static/conf/css/main-2026.min.css
  docs/_static/conf/css/main-2026.min.css.map
  docs/_static/conf/scss/main-2026.scss
  docs/_templates/2026/base.html
Due: none

Remove wrong berlin logos
  docs/_static/conf/images/logos/berlin2026-dark.png
  docs/_static/conf/images/logos/berlin2026.png
Due: none

Add text logo fallback when logo image file does not exist
  docs/_data/portland-2026-config.yaml
  docs/_static/conf/css/main-2026.min.css
  docs/_static/conf/css/main-2026.min.css.map
  docs/_static/conf/scss/main-2026.scss
  docs/_templates/2026/base.html
Due: yamale-config

Add text logo fallback to header for conferences without logo images
  docs/_templates/2026/generic.html
Due: none

Add flaghaslogo to config YAML schema validation
  docs/_data/schema-config.yaml
Due: none

Remove cobrand references from 2026 templates
  docs/_templates/2026/base.html
  docs/_templates/2026/generic.html
Due: none

Update post date from March 5 to March 16, 2026
  docs/conf/berlin/2026/news/welcome.md
Due: none

Update post date from March 5 to March 16, 2026 (#2577)
  docs/conf/berlin/2026/news/welcome.md
Due: none

Arrange schedule
  docs/_data/portland-2026-schedule.yaml
Due: yamale-schedule

Update CTAs
  docs/_data/portland-2026-config.yaml
Due: yamale-config

Update emails
  docs/conf/portland/2026/cfp-email-templates.rst
Due: none

Fix schedule CSS alignment: time column and content column vertical alignment (#2578)
  docs/_static/conf/css/main-2026.min.css
  docs/_static/conf/css/main-2026.min.css.map
  docs/_static/conf/scss/main-2026.scss
Due: none

Small data cleanup
  docs/_data/portland-2026-config.yaml
  docs/conf/portland/2026/sponsors/information.md
Due: yamale-config

Path conditions:
  yamale-config: any of: ^docs/_data/.*-config\.(yml|yaml)$, but not: ^docs/_data/schema-config\.yaml$
  yamale-schedule: any of: ^docs/_data/.*-schedule\.(yml|yaml)$, but not: ^docs/_data/schema-schedule\.yaml$
  yamale-sessions: any of: ^docs/_data/.*-sessions\.(yml|yaml)$, but not: ^docs/_data/schema-sessions\.yaml$
