Repository writethedocs/www: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamale-config, yamale-schedule, yamale-sessions

yamale-config:
  name: Validate conference config YAML against schema
  entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-config.yaml "$f" || exit 1; done' --
  language: system

yamale-schedule:
  name: Validate schedule YAML against schema
  entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-schedule.yaml "$f" || exit 1; done' --
  language: system

yamale-sessions:
  name: Validate sessions YAML against schema
  entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-sessions.yaml "$f" || exit 1; done' --
  language: system

ci: run apt-get update before installing docutils in Vale workflow
  .github/workflows/vale.yml
Due: none

docs: Remove volunteer.jpg header image from 2026 conferences (#2707)
  .github/workflows/vale.yml
  docs/_data/berlin-2026-config.yaml
  docs/_data/portland-2026-config.yaml
  docs/_static/conf/images/headers/2026/volunteer.jpg
  docs/conf/berlin/2026/health.md
  docs/conf/berlin/2026/volunteer.md
  docs/conf/portland/2026/volunteer.md
Due: yamale-config

Remove link to 2025 Salary Survey form
  docs/index.rst
Due: none

Comment out Media Kit section to speaker-info.md
  docs/conf/berlin/2026/speaker-info.md
Due: none

Comment out Media Kit section to speaker-info.md (#2709)
  docs/conf/berlin/2026/speaker-info.md
Due: none

Update docs/index.rst
  docs/index.rst
Due: none

Remove link to 2025 Salary Survey form (#2708)
  docs/index.rst
Due: none

Remove shirts from blog post
  docs/conf/berlin/2026/news/announcing-speakers.rst
Due: none

Update volunteer form URL and deadlines
  docs/_data/berlin-2026-config.yaml
Due: yamale-config

Add blog post and flag
  docs/_data/berlin-2026-config.yaml
  docs/conf/berlin/2026/news/announcing-speakers.rst
Due: yamale-config

Update scripts
  docs/_scripts/pretalx2cfpsheet.py
  docs/_scripts/pretalx2wtd.py
Due: none

Update announce date so it renders
  docs/conf/berlin/2026/news/announcing-speakers.rst
Due: none

Fix YAML spacing
  docs/_data/berlin-2026-sessions.yaml
Due: yamale-sessions

Update announcement date to 2026
  docs/conf/berlin/2026/news/announcing-speakers.rst
Due: none

Update post date
  docs/conf/berlin/2026/news/announcing-speakers.rst
Due: none

Update volunteer dates
  docs/_data/berlin-2026-config.yaml
Due: yamale-config

Update CTA
  docs/_data/berlin-2026-config.yaml
Due: yamale-config

Update volunteer tasks
  docs/conf/berlin/2026/volunteer.md
Due: none

Add speakers
  docs/_data/berlin-2026-sessions.yaml
  docs/_static/img/speakers/alexandra-klepper.webp
  docs/_static/img/speakers/anastasia-suboch.webp
  docs/_static/img/speakers/elena-baskakova.webp
  docs/_static/img/speakers/hridyesh-bisht.webp
  docs/_static/img/speakers/javier-rubio.webp
  docs/_static/img/speakers/jen-buley.webp
  docs/_static/img/speakers/kel-raleigh.webp
  docs/_static/img/speakers/oishi-banerjee.webp
  docs/_static/img/speakers/stephan-rayner.webp
  docs/_static/img/speakers/tal-gluck.webp
  docs/_static/img/speakers/whitney-burkes.webp
Due: yamale-sessions

Typo fix
  docs/_data/berlin-2026-sessions.yaml
Due: yamale-sessions

Ticket link Portland -> Berlin
  docs/conf/berlin/2026/news/announcing-speakers.rst
Due: none

Update emails
  docs/conf/berlin/2026/cfp-email-templates.rst
Due: none

Berlin 2026 speaker announcement (#2710)
  docs/_data/berlin-2026-config.yaml
  docs/_data/berlin-2026-sessions.yaml
  docs/_scripts/pretalx2cfpsheet.py
  docs/_scripts/pretalx2wtd.py
  docs/_static/img/speakers/alexandra-klepper.webp
  docs/_static/img/speakers/anastasia-suboch.webp
  docs/_static/img/speakers/elena-baskakova.webp
  docs/_static/img/speakers/hridyesh-bisht.webp
  docs/_static/img/speakers/javier-rubio.webp
  docs/_static/img/speakers/jen-buley.webp
  docs/_static/img/speakers/kel-raleigh.webp
  docs/_static/img/speakers/oishi-banerjee.webp
  docs/_static/img/speakers/stephan-rayner.webp
  docs/_static/img/speakers/tal-gluck.webp
  docs/_static/img/speakers/whitney-burkes.webp
  docs/conf/berlin/2026/cfp-email-templates.rst
  docs/conf/berlin/2026/news/announcing-speakers.rst
  docs/conf/berlin/2026/volunteer.md
Due: yamale-config, yamale-sessions

Updates
  docs/_data/australia-2026-config.yaml
Due: yamale-config

Testing virtual flag
  docs/_data/australia-2026-config.yaml
Due: yamale-config

Added au logo files
  docs/_static/conf/images/logos/australia2026-dark.png
  docs/_static/conf/images/logos/australia2026.png
Due: none

Resolve CFP error
  docs/conf/australia/2026/cfp.rst
Due: none

Updates to config
  docs/_data/australia-2026-config.yaml
Due: yamale-config

Resolve config flag errors
  docs/_data/australia-2026-config.yaml
Due: yamale-config

Update pics
  docs/_static/img/speakers/kate-wilcox.webp
  docs/_static/img/speakers/uladzislava-lahun.webp
Due: none

Speaker requested update
  docs/_data/berlin-2026-sessions.yaml
Due: yamale-sessions

Update pics (#2711)
  docs/_data/berlin-2026-sessions.yaml
  docs/_static/img/speakers/kate-wilcox.webp
  docs/_static/img/speakers/uladzislava-lahun.webp
Due: yamale-sessions

Updates to australia flags and cofig
  docs/_data/australia-2026-config.yaml
Due: yamale-config

Fix errors
  docs/_data/australia-2026-config.yaml
Due: yamale-config

Sneaky sneaky flag
  docs/_data/australia-2026-config.yaml
Due: yamale-config

Updates to welcome news post
  docs/conf/australia/2026/news/welcome.rst
Due: none

2026 Q2 community board blog post
  docs/blog/2026-Q2-community-board.rst
Due: none

Apply suggestions from code review
  docs/blog/2026-Q2-community-board.rst
Due: none

australia 2026: fix venue address, unconf link, and conf list typos
  docs/_data/australia-2026-config.yaml
  docs/include/conf/current.rst
Due: yamale-config

australia 2026: fix venue address, unconf link, and conf list typos (#2713)
  docs/_data/australia-2026-config.yaml
  docs/include/conf/current.rst
Due: yamale-config

Path conditions:
  yamale-config: any of: ^docs/_data/.*-config\.(yml|yaml)$, but not: ^docs/_data/schema-config\.yaml$
  yamale-schedule: any of: ^docs/_data/.*-schedule\.(yml|yaml)$, but not: ^docs/_data/schema-schedule\.yaml$
  yamale-sessions: any of: ^docs/_data/.*-sessions\.(yml|yaml)$, but not: ^docs/_data/schema-sessions\.yaml$
