Repository writethedocs/www: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamale-config, yamale-schedule, yamale-sessions

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        files: ^docs/_data/.*\.(yml|yaml)$
        exclude: ^docs/_data/schema-.*\.yaml$
      - id: end-of-file-fixer
        files: ^docs/_data/.*\.(yml|yaml)$
      - id: trailing-whitespace
        files: ^docs/_data/.*\.(yml|yaml)$

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.26.3
    hooks:
      - id: yamllint
        files: ^docs/_data/.*\.(yml|yaml)$
        exclude: ^docs/_data/schema-.*\.yaml$

  - repo: local
    hooks:
      - id: yamale-config
        name: Validate conference config YAML against schema
        entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-config.yaml "$f" || exit 1; done' --
        language: system
        files: ^docs/_data/.*-config\.(yml|yaml)$
        exclude: ^docs/_data/schema-config\.yaml$
      - id: yamale-schedule
        name: Validate schedule YAML against schema
        entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-schedule.yaml "$f" || exit 1; done' --
        language: system
        files: ^docs/_data/.*-schedule\.(yml|yaml)$
        exclude: ^docs/_data/schema-schedule\.yaml$
      - id: yamale-sessions
        name: Validate sessions YAML against schema
        entry: bash -c 'for f in "$@"; do yamale -s docs/_data/schema-sessions.yaml "$f" || exit 1; done' --
        language: system
        files: ^docs/_data/.*-sessions\.(yml|yaml)$
        exclude: ^docs/_data/schema-sessions\.yaml$

updates
  docs/_data/berlin-2026-config.yaml
  docs/_data/berlin-2026-schedule.yaml
  docs/_data/schema-config.yaml
  docs/conf/berlin/2026/news/writing-day-schedule.md
  docs/conf/berlin/2026/writing-day.md
Due: yamale-config, yamale-schedule

updates
  docs/conf/berlin/2026/news/writing-day-schedule.md
Due: none

Update title
  docs/conf/berlin/2026/news/writing-day-schedule.md
Due: none

updates
  docs/_data/berlin-2026-schedule.yaml
  docs/conf/berlin/2026/news/writing-day-schedule.md
  docs/conf/berlin/2026/writing-day.md
Due: yamale-schedule

update date
  docs/conf/berlin/2026/news/writing-day-schedule.md
Due: none

review upd
  docs/_data/berlin-2026-schedule.yaml
  docs/conf/berlin/2026/news/writing-day-schedule.md
  docs/conf/berlin/2026/writing-day.md
Due: yamale-schedule

linkfix
  docs/conf/berlin/2026/news/writing-day-schedule.md
Due: none

Add Writing Day mailing/schedule (#2738)
  docs/_data/berlin-2026-config.yaml
  docs/_data/berlin-2026-schedule.yaml
  docs/_data/schema-config.yaml
  docs/conf/berlin/2026/news/writing-day-schedule.md
  docs/conf/berlin/2026/writing-day.md
Due: yamale-config, yamale-schedule

Remove salary survey
  docs/_data/berlin-2026-schedule.yaml
  docs/conf/berlin/2026/news/writing-day-schedule.md
  docs/conf/berlin/2026/writing-day.md
Due: yamale-schedule

Fix release title, update constants for Portland
  docs/_scripts/tito2venueless.py
Due: none

Minor fixes/updates to tito2venueless
  docs/_scripts/tito2venueless.py
Due: none

2026 Q3 community board blog post
  docs/blog/2026-Q3-community-board.rst
Due: none

Apply suggestions from code review
  docs/blog/2026-Q3-community-board.rst
Due: none

sponsorship: improve CTAs and marketing on sponsorship pages
  docs/_static/css/global-customizations.css
  docs/sponsorship/index.rst
  docs/sponsorship/jobs.rst
  docs/sponsorship/newsletter.rst
  docs/sponsorship/slack.rst
  docs/sponsorship/website.rst
Due: none

sponsorship: tone down copy changes, keep CTAs minimal
  docs/_static/css/global-customizations.css
  docs/sponsorship/index.rst
  docs/sponsorship/jobs.rst
  docs/sponsorship/newsletter.rst
  docs/sponsorship/slack.rst
  docs/sponsorship/website.rst
Due: none

docs: add Sourcey to documentation tools
  docs/guide/tools/index.rst
Due: none

docs: align Sourcey entry with tool list style
  docs/guide/tools/index.rst
Due: none

Move resume workshop to 14:00
  docs/_data/berlin-2026-schedule.yaml
  docs/conf/berlin/2026/writing-day.md
Due: yamale-schedule

sponsorship: style pricing table, put conferences first
  docs/_static/css/global-customizations.css
  docs/sponsorship/index.rst
Due: none

sponsorship: show conferences in a matching pricing table
  docs/sponsorship/index.rst
Due: none

sponsorship: label Australia conference pricing as AUD
  docs/sponsorship/index.rst
Due: none

sponsorship: show email address visibly instead of hiding it in link text
  docs/sponsorship/index.rst
Due: none

sponsorship: unbold Portland 2027 in conference table
  docs/sponsorship/index.rst
Due: none

Screenshots for sponsorship CTA PR #2750
  pr-index.png
  pr-newsletter.png
Due: none

sponsorship: link Slack and job posting buttons to Stripe payment forms
  docs/sponsorship/jobs.rst
  docs/sponsorship/slack.rst
Due: none

sponsorship: link website page buttons to Stripe payment forms
  docs/sponsorship/website.rst
Due: none

Writing Day: Pretix OSS project info
  docs/conf/berlin/2026/writing-day.md
Due: none

Writing Day: Pretix OSS project info (#2751)
  docs/conf/berlin/2026/writing-day.md
Due: none

Add Berlin 2026 LT/unconf signup links
  docs/_data/berlin-2026-config.yaml
  docs/conf/berlin/2026/lightning-talks.md
  docs/conf/berlin/2026/unconference.md
Due: yamale-config

Update docs/blog/2026-Q3-community-board.rst
  docs/blog/2026-Q3-community-board.rst
Due: none

2026 Q3 community board blog post (#2745)
  docs/blog/2026-Q3-community-board.rst
Due: none

sponsorship: add pricing table and CTA buttons (#2750)
  docs/_static/css/global-customizations.css
  docs/sponsorship/index.rst
  docs/sponsorship/jobs.rst
  docs/sponsorship/newsletter.rst
  docs/sponsorship/slack.rst
  docs/sponsorship/website.rst
Due: none

berlin-2026: update Slido link for speaker Q&A
  docs/_data/berlin-2026-config.yaml
  docs/conf/berlin/2026/qa.md
Due: yamale-config

conf: use qa.event_id variable on all 2026 Q&A pages
  docs/_data/australia-2026-config.yaml
  docs/_data/portland-2026-config.yaml
  docs/conf/australia/2026/qa.md
  docs/conf/portland/2026/qa.md
Due: yamale-config

conf: use qa.event_id variable for Slido links on 2026 Q&A pages (#2754)
  docs/_data/australia-2026-config.yaml
  docs/_data/berlin-2026-config.yaml
  docs/_data/portland-2026-config.yaml
  docs/conf/australia/2026/qa.md
  docs/conf/berlin/2026/qa.md
  docs/conf/portland/2026/qa.md
Due: yamale-config

Update team
  docs/conf/berlin/2026/team.md
Due: none
